html,body { background:#eefff2; color:#002200 } img { border: none } a { color:#34345c } a:visited { color:#34345c } a:hover { color:#DD0000 } .js, .js a { color:black;text-decoration:none } .js:hover, .js a:hover { color:black;font-weight:bold;text-decoration:underline } .thumb, .nothumb { float: left; margin: 2px 20px } .doubledash { vertical-align:top;clear:both;float:left } .inline { vertical-align:top } .reply { background:#d6f0da } .subreply { background:#cce1cf } .highlight { background:#d6bad0 } .greentext { color:#789922 } .postername { color:#117743; font-weight:bold; text-decoration: none } .postertrip { color:#228854; text-decoration: none } a.tooltip span, a.tooltip-red span { display:none }

h1{
	font:bold 2em Verdana,Tahoma,sans-serif;
	margin:.1em
}
h2{
	font:bold 1.25em Verdana,Tahoma,sans-serif;
	margin:.1em
}
ul{
	margin:0;
	list-style-type:circle
}
.postblock{
	font-weight:bold;
	background:#98c1a9;
	text-align:center
}
.postspan{
	font-weight:bold;
	background:#d6f0da;
	text-align:left;
	padding:.3em;
	margin:.3em .3em .3em 0
}
.generic-table, .generic-table-monowidth{
	margin-left:auto;
	margin-right:auto;
	overflow:hidden
}
.generic-table-monowidth{
	width:40em
}
.generic-table {
	margin-top:1em
}
.generic-table-monowidth th {
	background:#88cc99;
	font-weight:bold;
	text-align:right;
	padding:2px
}
.generic-table-monowidth tr {
	background:#d6f0da;
	padding:2px
}
.generic-table th {
	background:#7faa66;
	color:#402800;
	font-weight:800;
	text-align:left;
	padding:2px
}
.report-thumbs div{
	float:left;
	width:300px;
	height:300px

}
.report-thumbs table{
	border-spacing:0;
	background:#d6f0da;
	border:solid 2px #8c9;
	margin:1em auto 1em auto
}
.report-thumbs table tr {
	font-weight:800;
	text-align:center;
	background:#8c9
}
.nothumb {
	color: inherit;
	background: #eee;
	border: 1px solid #aaa;
	text-align: center;
	padding: 1em
}
.omittedposts {
	color:#707070
}

.filetitle {
	font-size:1.1em;
	color:#0f0c5d;
	font-weight: bold
}
.theader {
	background:#E04000;
	text-align:center;
	padding:2px;
	color:white;
	width:100%;
	font-weight:bold
}
.newthr{
	clear: left
}

.warning,.info {
	background: #dece7a;
	color: #654225;
	font-weight:bold
}
.error, .alert{
	background: #de887a;
	color: #652534;
	font-weight:bold
}

.alert h4 {
	margin-top:0
}

.warning,.error { padding: .675em .5em 1.325em .5em }
.info, .alert{ padding: .675em .5em .675em .5em }

.container{
	-moz-border-radius: .75em;
	margin: 4em auto 1em auto;
	width: 70%
}

a.tooltip span, a.tooltip-red span{
	font-family:Georgia, serif;
	display:none;
	padding:6px;
	margin:2em 0 0 .5em;
	width:25%
}
a.tooltip:hover span, a.tooltip-red:hover span{
	display:inline;
	position:absolute;
	border:1px solid black;
	background:lightyellow;
	color:black;
	font-weight:normal;
	text-align:left;
	text-decoration:none
}
a.tooltip-red:hover{
	color:white
}

.spoiler, .spoiler:hover {
	color: black;
	background: black;
	text-decoration: none
}
.spoiler a {
	color: black !important
}
.spoiler:hover, .spoiler:hover a {
	color: white !important
}

.trip{
	font-weight:normal !important
}

.invis-link {
	text-decoration: none
}
.invis-link:hover {
	text-decoration: underline
}

.quoted-by {
	color: #707070;
	font-size: .75em;
	margin-left: 25px;
	padding-top: 3px;
	text-decoration: none
}
.quote-preview-op {
	background-color: #EEFFF2
}
#quote-preview {
	position: absolute;
	color: #002200
}
#quote-preview-s {
	border: 1px solid #888;
	padding: 3px
}

code,.code { white-space: pre }
a img { vertical-align: top }

.overline { text-decoration: overline }
.underline { text-decoration: underline }
.aa { font-family:Mona,'MS PGothic' !important }
.strikethrough { text-decoration: line-through }
.banned { font-weight: bold; color: red }
.mod{ color: #800080 !important }
.admin{ color: #c00000 !important }
.developer{ color: #0000F0 !important }

.flag {
	display:inline-block;
	width: 16px;
	height: 11px;
	background:url(../images/flags.png) no-repeat
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-id {background-position: -48px -66px}
.flag.flag-ie {background-position: -64px -66px}
.flag.flag-il {background-position: -80px -66px}
.flag.flag-im {background-position: -96px -66px}
.flag.flag-in {background-position: -112px -66px}
.flag.flag-io {background-position: -128px -66px}
.flag.flag-iq {background-position: -144px -66px}
.flag.flag-ir {background-position: -160px -66px}
.flag.flag-is {background-position: -176px -66px}
.flag.flag-it {background-position: -192px -66px}
.flag.flag-je {background-position: -208px -66px}
.flag.flag-jm {background-position: -224px -66px}
.flag.flag-jo {background-position: -240px -66px}
.flag.flag-jp {background-position: 0 -77px}
.flag.flag-ke {background-position: -16px -77px}
.flag.flag-kg {background-position: -32px -77px}
.flag.flag-kh {background-position: -48px -77px}
.flag.flag-ki {background-position: -64px -77px}
.flag.flag-km {background-position: -80px -77px}
.flag.flag-kn {background-position: -96px -77px}
.flag.flag-kp {background-position: -112px -77px}
.flag.flag-kr {background-position: -128px -77px}
.flag.flag-kurdistan {background-position: -144px -77px}
.flag.flag-kw {background-position: -160px -77px}
.flag.flag-ky {background-position: -176px -77px}
.flag.flag-kz {background-position: -192px -77px}
.flag.flag-la {background-position: -208px -77px}
.flag.flag-lb {background-position: -224px -77px}
.flag.flag-lc {background-position: -240px -77px}
.flag.flag-li {background-position: 0 -88px}
.flag.flag-lk {background-position: -16px -88px}
.flag.flag-lr {background-position: -32px -88px}
.flag.flag-ls {background-position: -48px -88px}
.flag.flag-lt {background-position: -64px -88px}
.flag.flag-lu {background-position: -80px -88px}
.flag.flag-lv {background-position: -96px -88px}
.flag.flag-ly {background-position: -112px -88px}
.flag.flag-ma {background-position: -128px -88px}
.flag.flag-mc {background-position: -144px -88px}
.flag.flag-md {background-position: -160px -88px}
.flag.flag-me {background-position: -176px -88px}
.flag.flag-mg {background-position: -192px -88px}
.flag.flag-mh {background-position: -208px -88px}
.flag.flag-mk {background-position: -224px -88px}
.flag.flag-ml {background-position: -240px -88px}
.flag.flag-mm {background-position: 0 -99px}
.flag.flag-mn {background-position: -16px -99px}
.flag.flag-mo {background-position: -32px -99px}
.flag.flag-mp {background-position: -48px -99px}
.flag.flag-mq {background-position: -64px -99px}
.flag.flag-mr {background-position: -80px -99px}
.flag.flag-ms {background-position: -96px -99px}
.flag.flag-mt {background-position: -112px -99px}
.flag.flag-mu {background-position: -128px -99px}
.flag.flag-mv {background-position: -144px -99px}
.flag.flag-mw {background-position: -160px -99px}
.flag.flag-mx {background-position: -176px -99px}
.flag.flag-my {background-position: -192px -99px}
.flag.flag-mz {background-position: -208px -99px}
.flag.flag-na {background-position: -224px -99px}
.flag.flag-nc {background-position: -240px -99px}
.flag.flag-ne {background-position: 0 -110px}
.flag.flag-nf {background-position: -16px -110px}
.flag.flag-ng {background-position: -32px -110px}
.flag.flag-ni {background-position: -48px -110px}
.flag.flag-nl {background-position: -64px -110px}
.flag.flag-no {background-position: -80px -110px}
.flag.flag-np {background-position: -96px -110px}
.flag.flag-nr {background-position: -112px -110px}
.flag.flag-nu {background-position: -128px -110px}
.flag.flag-nz {background-position: -144px -110px}
.flag.flag-om {background-position: -160px -110px}
.flag.flag-pa {background-position: -176px -110px}
.flag.flag-pe {background-position: -192px -110px}
.flag.flag-pf {background-position: -208px -110px}
.flag.flag-pg {background-position: -224px -110px}
.flag.flag-ph {background-position: -240px -110px}
.flag.flag-pk {background-position: 0 -121px}
.flag.flag-pl {background-position: -16px -121px}
.flag.flag-pm {background-position: -32px -121px}
.flag.flag-pn {background-position: -48px -121px}
.flag.flag-pr {background-position: -64px -121px}
.flag.flag-ps {background-position: -80px -121px}
.flag.flag-pt {background-position: -96px -121px}
.flag.flag-pw {background-position: -112px -121px}
.flag.flag-py {background-position: -128px -121px}
.flag.flag-qa {background-position: -144px -121px}
.flag.flag-re {background-position: -160px -121px}
.flag.flag-ro {background-position: -176px -121px}
.flag.flag-rs {background-position: -192px -121px}
.flag.flag-ru {background-position: -208px -121px}
.flag.flag-rw {background-position: -224px -121px}
.flag.flag-sa {background-position: -240px -121px}
.flag.flag-sb {background-position: 0 -132px}
.flag.flag-sc {background-position: -16px -132px}
.flag.flag-scotland {background-position: -32px -132px}
.flag.flag-sd {background-position: -48px -132px}
.flag.flag-se {background-position: -64px -132px}
.flag.flag-sg {background-position: -80px -132px}
.flag.flag-sh {background-position: -96px -132px}
.flag.flag-si {background-position: -112px -132px}
.flag.flag-sk {background-position: -128px -132px}
.flag.flag-sl {background-position: -144px -132px}
.flag.flag-sm {background-position: -160px -132px}
.flag.flag-sn {background-position: -176px -132px}
.flag.flag-so {background-position: -192px -132px}
.flag.flag-somaliland {background-position: -208px -132px}
.flag.flag-sr {background-position: -224px -132px}
.flag.flag-ss {background-position: -240px -132px}
.flag.flag-st {background-position: 0 -143px}
.flag.flag-sv {background-position: -16px -143px}
.flag.flag-sy {background-position: -32px -143px}
.flag.flag-sz {background-position: -48px -143px}
.flag.flag-tc {background-position: -64px -143px}
.flag.flag-td {background-position: -80px -143px}
.flag.flag-tf {background-position: -96px -143px}
.flag.flag-tg {background-position: -112px -143px}
.flag.flag-th {background-position: -128px -143px}
.flag.flag-tj {background-position: -144px -143px}
.flag.flag-tk {background-position: -160px -143px}
.flag.flag-tl {background-position: -176px -143px}
.flag.flag-tm {background-position: -192px -143px}
.flag.flag-tn {background-position: -208px -143px}
.flag.flag-to {background-position: -224px -143px}
.flag.flag-tr {background-position: -240px -143px}
.flag.flag-tt {background-position: 0 -154px}
.flag.flag-tv {background-position: -16px -154px}
.flag.flag-tw {background-position: -32px -154px}
.flag.flag-tz {background-position: -48px -154px}
.flag.flag-ua {background-position: -64px -154px}
.flag.flag-ug {background-position: -80px -154px}
.flag.flag-um {background-position: -96px -154px}
.flag.flag-us {background-position: -112px -154px}
.flag.flag-uy {background-position: -128px -154px}
.flag.flag-uz {background-position: -144px -154px}
.flag.flag-va {background-position: -160px -154px}
.flag.flag-vc {background-position: -176px -154px}
.flag.flag-ve {background-position: -192px -154px}
.flag.flag-vg {background-position: -208px -154px}
.flag.flag-vi {background-position: -224px -154px}
.flag.flag-vn {background-position: -240px -154px}
.flag.flag-vu {background-position: 0 -165px}
.flag.flag-wales {background-position: -16px -165px}
.flag.flag-wf {background-position: -32px -165px}
.flag.flag-ws {background-position: -48px -165px}
.flag.flag-ye {background-position: -64px -165px}
.flag.flag-yt {background-position: -80px -165px}
.flag.flag-za {background-position: -96px -165px}
.flag.flag-zanzibar {background-position: -112px -165px}
.flag.flag-zm {background-position: -128px -165px}
.flag.flag-zw {background-position: -144px -165px}