@charset "UTF-8";

html, body {    
}

body
{
    font-family: Cambria, Georgia, Times, Times New Roman, serif;
    color:#f0f0f0;
    margin:0 auto;
    overflow-y:scroll !important;
    background:#fafafa;
	background:url('images/background_noise.png');
}

#wrapper 
{
    position: relative;
    overflow:hidden;
}

a
{
    text-decoration:none;
}

a:hover
{
    text-decoration:underline;
    color:inherit;
}

img 
{
    image-rendering: optimizeQuality;
    -ms-interpolation-mode: bicubic;
    border:none;
}

h1
{
    margin:0;
    font-size:25px;
    font-weight:normal;
    overflow:hidden;
}

h2
{
    margin:0;
    font-size:16px;
}

form
{
    display:inline;
}

input[type="text"]
{
    width:190px;
    border:1px solid #ddd;
    padding:2px 3px;
    font-size:12px;
    margin:5px 8px 5px 0;
    text-align:center;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

#searchbox
{
    width:270px;

    text-align:left;
    padding-left:4px;

    background: rgb(249,249,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(255,255,255,1) 74%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(74%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(255,255,255,1) 74%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(255,255,255,1) 74%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(255,255,255,1) 74%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(249,249,249,1) 0%,rgba(255,255,255,1) 74%); /* W3C */
}

.center {
    text-align:center;
}

.clearer
{
    clear:both;
}

.clearer_r
{
    clear:right;
}

.clearer_l
{
    clear:left;
}

.fright
{
    float:right !important;
}

.fleft
{
    float:left !important;
}

.dnone {
    display:none !important;
}

.nooverflow {
    overflow:visible !important;
}

.placeholder {
    color:#999;
}


#content
{
    padding: 0 0px 10px;
    margin:10px auto 0px;
    color:#000;
}

#header
{
	color:#ddd;
	background:#333;
	box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-webkit-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-moz-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-left-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
	margin: 0 16px;
}

#header a
{
    color:inherit;
}

#header #title
{	
    font-size:20px;
    line-height:24px;
    font-weight:bold;
    float:left;
    padding:6px 0 0 15px;
}

#header #title:hover
{
    text-decoration:underline;
}

#header .home_url
{
    float:left;
    margin:8px 5px 0;
    padding-top:6px;
    font-size:11px;
}

#footer
{
    max-width: 960px;
	min-height:48px;
    padding:20px 10px 19px;
    color: #666;
    margin:0 auto;
}

#footer .text
{
    font-size:11px;
}

#footer>*>div{
    width:740px;
    float:left;
}

#footer>*>.cp_link{
    width:220px;
    float:right;
    text-align:right;
}

#footer>*>.cp_link>a{
    color:#bbb;
}

#footer>*>.cp_link>img{
    width:200px;
}

.clearfooter
{
    height:55px;
    clear:both;
}

.prevnext{
    margin-top:10px;
}




#navig
{
    float:right;
	margin-right:10px;
}

#navig a
{
    display:block;
    padding: 5px 8px;
}

#navig ul
{
    list-style:none;
    padding: 0;
    margin: 0;
    display:block;
}

#navig ul li
{
    float:left;
    margin: 4px 0 4px 7px;
    border-radius:3px;
}

#navig ul li ul
{

}

#navig ul li ul li
{

}

.panel
{
	margin:0px 10px 5px 10px;
	color:#333;
	text-shadow:1px 1px 0px #ccc;
	text-shadow:0px 1px 0px rgba(255,255,255,0.3);
	width:1000px;
	margin: 0 auto;
	font-size:14px;
}

.panel a
{
    color:inherit;
}

.panel a:hover
{

}


.list
{
    margin:0 0 10px;

    overflow:hidden;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    z-index:-1;
	background:#f7f7f7;
	background-image:url("images/background_noise_light.png");
	box-shadow: 0px 0px 1px #fff, inset 0px 0px 8px #777;
	-webkit-box-shadow: 0px 0px 1px #fff, inset 0px 0px 8px #777;
	-moz-box-shadow: 0px 0px 1px #fff, inset 0px 0px 8px #777;
    padding:6px 5px;

}

.list > .title, .large > .title
{
	margin:0px 0px 10px;
    position:relative;
	font-size:17px;
	padding: 6px 8px;
    color:#ddd;
	background:#333;
	box-shadow: 0px 0px 1px #ddd, 0px 0px 3px #888, inset 0px 0px 8px #222;
	-webkit-box-shadow: 0px 0px 1px #ddd, 0px 0px 3px #888, inset 0px 0px 8px #222;
	-moz-box-shadow: 0px 0px 1px #ddd, 0px 0px 3px #888, inset 0px 0px 8px #222;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
	text-shadow:none;
}

.list > .title.fleft, .large > .title.fleft, .large >.title.fright
{
	margin-right:10px;
	border:none;
	padding:0px;
	margin-bottom:0;
}

.list .group
{
	margin-top:8px;
	padding:0 2px 5px 5px;
	position:relative;
	overflow:hidden;
}

.list .group > .title
{
	font-weight:bold;
	font-size:16px;
	border-bottom:1px solid #666;
}

.list .group > .title > .meta
{
	font-weight:normal;
	font-size:11px;
}

.list .element
{
	position:relative;
	padding: 3px 10px 3px 10px;
	overflow:hidden;
}

.list .element .title {
	float:left;
}

.list .element .meta_r
{
	float:right;
	font-size: 11px;
	margin-top:2px;
}

.list .element .meta_r a
{
	font-size:120%;
}

.list .group .preview {
	float:left;
	max-height:125px;
	margin-right:5px;
	position:relative;
	z-index:100;
}

.list.series .group {
	min-height:70px;
	padding: 0 8px 8px;
}

.list.series .meta_r {
	position:static;
	float:none;
	clear:both;
}

.list .element .image {
	float:left;
	max-height:125px;
	margin-right:5px;
	position:relative;
	z-index:100;
}



.large
{
    padding:6px 5px;
    margin:0 0 10px;

	background:#f7f7f7;
	background-image:url("images/background_noise_light.png");
	box-shadow: 0px 0px 1px #fff, inset 0px 0px 8px #777;
	-webkit-box-shadow: 0px 0px 1px #fff, inset 0px 0px 8px #777;
	-moz-box-shadow: 0px 0px 1px #fff, inset 0px 0px 8px #777;
	
    overflow:hidden;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    z-index:-1;
}

.large.comic .title
{
	font-size:20px;
}

.large.comic .thumbnail
{
	width:250px;
	height:250px;
	border: 1px solid #999;
	padding:3px;
	text-align:center;
	float:left;
	margin: 0 30px 10px;
}

.large.comic .thumbnail img
{

}

.large.comic .info
{
	margin:5px;
}

.large.comic .info ul
{
	list-style: none;
	padding:0 0 0 15px;
}

.large.comic .info ul li
{
	margin: 6px 0 0;
	text-indent:-13px;
}


.sidebar
{
	float:right;
	margin:0 0 10px 10px;
	padding:0;
	width:300px;
	z-index:-1;
	list-style: none;
}


.sidebar li
{
	margin: 0 0 10px;
	padding:6px 5px 10px;
	background-image:url("images/background_noise_light.png");
	box-shadow: 0px 0px 1px #fff, inset 0px 0px 8px #777;
	-webkit-box-shadow: 0px 0px 1px #fff, inset 0px 0px 8px #777;
	-moz-box-shadow: 0px 0px 1px #fff, inset 0px 0px 8px #777;
	border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.sidebar li h3 
{
	color:#ddd;
	padding:3px 10px 3px 10px;
	line-height:normal;
	position:relative;
	text-shadow:none;
	font-weight:normal;
	font-size:14px;
    color:#ddd;
	background:#333;
	box-shadow: 0px 0px 1px #ddd, 0px 0px 3px #888, inset 0px 0px 8px #222;
	-webkit-box-shadow: 0px 0px 1px #ddd, 0px 0px 3px #888, inset 0px 0px 8px #222;
	-moz-box-shadow: 0px 0px 1px #ddd, 0px 0px 3px #888, inset 0px 0px 8px #222;
	
	border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
	margin: 0 0 7px;
}

.sidebar .text
{
	padding: 0 5px;
}

#page
{
	margin:10px auto;
	overflow:hidden;
	max-width:1000px;
	padding: 5px 0;
	position:relative;
	box-shadow: inset 0px 0px 3px #000;
}

#page .inner
{
	margin: 0 auto;
	position:relative;
	text-align:center;
}

#page .inner > a > img
{
	margin:0 auto;
	display:block;
	padding:2px;
	z-index:1000;
}

#page .inner .preview
{
	width:100%;
	position:absolute;
	top:3px;
	z-index:-1;
}

#page .inner .preview > img
{
}

#pagelist
{
	margin: 0 auto;
}

#pagelist .title
{
	padding:5px;
	margin:0 5px;
	border-bottom:1px solid #999;
}

#pagelist .images
{
	width:98%;
	margin:5px auto;
	overflow-x:hidden;
}

#pagelist .images table
{
	width:950px;
	padding:0;
	margin:0;
}

#pagelist .images table tr
{
	height:100px;
	width:90%;
}

#pagelist td
{
	border: 2px solid transparent;
	width:150px;
	height:170px;
	margin: 0 5px 5px 0;
	text-align:center;
	vertical-align:middle;
}

#pagelist a
{
	width:160px;
	display:block;
	text-decoration:none;
}

#pagelist a img
{
	max-height:160px;
	max-width:160px;
}

#pagelist a img.loaded
{
	border: 2px solid #70D441;
}

#pagelist a img.current
{
	border: 2px solid #000;
}

.ads{
}

.ads a{
}

.ads a:hover{
}

.ads.banner
{
	margin: 0px auto 10px;
	padding:7px 10px;
	overflow:hidden;
	text-align:center;
	color:#ddd;
	background:#333;
	box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-webkit-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-moz-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
	clear:both;
	width:980px;
}

.ads.banner *
{
	margin: 0 auto;
}

.ads.vertical
{
	margin:0 10px;
	padding: 7px 7px;
}

.ads.iframe iframe
{
	border:none;
}


.ads.banner.iframe iframe{
	height:90px;
	width:728px;
	background:transparent;
}

.ads.banner.iframe {
}

/***********
**Top Bar***
***********/

.topbar{
    padding:3px 5px 5px;
    margin:0 0 10px;
	text-shadow:none;

    margin:0px 0px 3px;
    position:relative;

    color:#ddd;
	background:#333;
	box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-webkit-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-moz-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.topbar_left{
    float:left;
    /*width:50%;*/
}

.topbar_left>*{
    float:left;
    margin-left:5px;
}

.topbar_right{
    float:right;
    /*width:50%;*/
}

.topbar_right div{
    float:right;
    margin-right:5px;
}

.topbar>div{
    margin-top:4px;
}

.divider
{
    background:#999;
    height:30px;
    width:1px
}

/**********
*Drop Down*
**********/

.dropdown_parent
{
    position:relative;
    display:block;
    z-index:2000;
}

.dropdown_parent .text
{
    padding:6px;
    border:1px solid #999;
    font-size:14px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    overflow:hidden;
}

.dropdown_parent:hover .text{
    border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom:1px solid rgba(71,82,87,1);
    position:relative;

    background:#222;
    box-shadow: 0px -1px 1px rgba(255,255,255,0.4) inset;
    moz-box-shadow: 0px -1px 1px rgba(255,255,255,0.4) inset;
    -webkit-box-shadow:	0px -1px 1px rgba(255,255,255,0.4) inset;
}

.dropdown_parent:hover ul.dropdown
{
    display:block;
}

ul.dropdown 
{
    display:none;

    color:#ddd;
	background:#333;
	box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-webkit-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-moz-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;

    font-size:14px;
    position:absolute;
    top:16px;
    line-height:120%;
    width:260px;
    max-height:400px;
    overflow:auto;
    overflow-x:hidden;
    z-index:1200;
    padding:6px 5px;
    list-style: none;

    border-bottom:1px solid rgba(71,82,87,1);
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;

    border-left:1px solid rgba(71,82,87,1);
    border-right:1px solid rgba(71,82,87,1);
}

.dropdown_right ul.dropdown
{
    right:4px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
}

ul.dropdown li
{}

ul.dropdown li a 
{
    display:block;
    width:100%;
    height:100%;
}

/***********
*Bottom Bar*
***********/

#bottombar{
    margin:0px auto 10px;
    padding:2px 0;
	overflow:hidden;
	width:1000px;	
    color:#ddd;
	background:#333;
	box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-webkit-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-moz-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#bottombar .pagenumber{
    float:left;

    width:90px;

    margin-top:5px;
    margin-left:10px;

}

#bottombar .socialbuttons{

    float:right;
}

#bottombar .socialbuttons div{
    margin-top:4px;

    float:right;
    position:relative;
}

#bottombar .socialbuttons .fblike{
    display:block;
    overflow:hidden;
    width:20px;
}

/*************
*Page Numbers*
*************/

.topbar_right .number
{
    text-shadow:none;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    text-align:center;
    font-size:14px;
    font-family: Cambria, Georgia, Times, Times New Roman, serif;
    border: 1px dashed #999;
}

.topbar_right .number a
{
    display:block;
    padding:6px;
    color:inherit;
}

.topbar_right .number.current_page
{
    border:1px solid lightgray !important;
}

.topbar_right .number.loaded
{
    border:1px solid #999;
}

.topbar_right .number:hover
{
    border:1px solid #444;
}

.tbtitle{
    font-size:16px;
}

/********
**Icon***
********/

.icon_wrapper {
    position:relative;
    height:32px;
    width:32px;
    padding:0px;
    text-align:center;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    overflow:hidden;
	cursor:pointer;
}

.icon_wrapper .icon {
    position:absolute;
    top:0px;
    text-align:center;
    top:-9px;
    left:-11px;
}

.topbar>*>.icon_wrapper{
    margin-top:4px;
    left:-15px !important;
}

.icon_wrapper .icon.on {
    display:none;
}

.icon_wrapper:hover .icon.off {
    display:none;
}

.icon_wrapper:hover .icon.on {
    display:block;
}

.icon_wrapper.small {
    width:16px;
    height:16px;
    margin-right:0px;
}

.icon_wrapper.small .icon {
    top:-4px;
    right:4px;
    width:26px;
    height:26px;
}

.element>.icon_wrapper{
    overflow:visible;
}


/*************
** Messages **
*************/

#messages {
	position:fixed;
	bottom:0px;
	width:100%;
}

#messages .message {
	width: 600px;
	padding: 8px 10px;
	margin: 0 auto 10px;
	color:#ddd;
	background:#333;
	background: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-webkit-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	-moz-box-shadow: 0px 0px 1px #ddd, inset 0px 0px 8px #222;
	border-radius: 5px;
	text-align:center;
}