
/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


a, a:visited {
	color: #34345c;
}

a:hover {
	color: #dd0000;
}

html {
	min-height:100%;
}

body {
	min-height:100%;
	color:#364041;
	background:#EEF8F0;
	padding:0;
	margin:0;
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

.container-fluid {
	padding: 0;
}

#header {
	overflow:hidden;
	padding: 10px 20px 6px;
	margin:0px 0;
	color: #f5f5f5;
	border-bottom: 2px solid #000;
	background:#6A836F;
}

#header a {
	color:#eee;
}

#logo {
	margin-bottom:0;
}

#header h1 {
	line-height:100%;
	color: #f5f5f5;
	font-size:25px;
	margin-top:6px;
}

#header h6 {
	padding:0;
	margin:2px 0 0;
	line-height:100%;
}

#top_tools {
	padding:3px 0 0;
	float:right;
	width:415px;
}

#top_tools form {
	margin-bottom: 5px;
	margin-right:10px;
	float:right;
}

#top_tools input[type=text], #top_tools input[type=button], #top_tools input[type=submit] {
	height:20px;
	padding: 2px 4px;
}

#top_tools label {
	color: #f5f5f5;
}

#top_tools input[type=submit], #top_tools input[type=button] {
	line-height:13px;
	font-size:13px;
	height:26px;
}

#top_tools .add-on {
	padding: 4px 4px;
	line-height:16px;
	font-size:13px;
	height:16px;
}

#top_tools a.add-on {
	color:#ccc;
}

#main {
}

#main .section_title {
	padding:2px 10px 2px 35px;
	border-bottom:3px solid #888;
	background:#eefff2;
}


.pagination {
	padding:2px 10px 2px 35px;
	margin:0;
	background:#ddebdd;
}

.pagination ul {
	background:#fff;
}


#footer {
	background:#6A836F;
	padding:10px;
	margin-top:0;
	color:#f5f5f5;
}

.btnr, .btnr:visited {
	padding:1px 3px 2px;
	background:#C8E4CE;
	text-shadow:none;
	margin: 0 2px;
	color:#333;
	font-size:11px;
	line-height:11px;
	position:relative;
	top:-1px;
}

.btnr:hover {
	background:	#6a836f;
	color:#f5f5f5;
}

/* board */

article.thread {
	padding: 15px 0;
	word-wrap: break-word;
	border-bottom:3px solid #364041;
	overflow:hidden;
}

article.thread > header {
	overflow:hidden;
}

article.thread > .thread_image_box {
	float:left;
	margin: 0 20px 10px 15px;
	z-index:5;
	text-align:center;
	color: #bfbfbf;
	text-shadow: 0px 1px 0px #fff;
	max-width:250px;
	font-size:0.8em;
	line-height:150%;
	vertical-align:bottom;

}

article.thread > .thread_image_box .thread_image {

}

article.thread > .thread_image_box .thread_image.is_spoiler_image {
	opacity: 0.05;
}

article.thread > .thread_image_box .thread_image.is_spoiler_image:hover {
	opacity: 1.0;
}

article.thread > .thread_image_box > .post_file_controls {
	position:relative;
	bottom:-1px;
	margin: 0 -5px 0 -4px;
}

article.thread > .thread_image_box > .post_file_controls .btn.parent {
	line-height:12px;
	font-size:12px;
}

article.thread > .thread_tools_bottom {
	margin-left: 30px;
	padding: 6px 0px;
}

article.thread > .thread_tools_bottom .omitted {
	color: #364041;
	font-weight:bold;
	font-size:14px;
	position:relative;
	top:1px;
}

article.thread .post_type {
	margin-left:4px;
}

article.thread .post_type img {
	vertical-align:bottom
}

article.thread .post_is_op {
	font-weight: bold;
	color:#000;
}

article.thread h2.post_title {
	font-weight: bold;
	color: #0f0c5d;
	padding:0;
	margin:0;
	font-size:1em;
	display:inline;
	line-height:inherit;
}
article.thread .post_author {
	font-weight: bold;
	color: #117743;
}

article.thread .post_author a {
	text-decoration:underline;
}


article.thread .post_trip {
	color: #117743;
}

article.thread .post_level {
	font-weight:bold;
}

article.thread .post_level.post_level_moderator {
	color:#800080;
}

article.thread .post_level.post_level_global_moderator {
	color:#800080;
}

article.thread .post_level.post_level_administrator {
	color:#FF0000;
}

article.thread .post_number {

}

article.thread .backlink_list {
	font-size:11px;
	color:#888;
	display:none;
}

article.thread > .text {
	padding:10px 10px 10px 30px;
	word-wrap: break-word;
}

.post {
	margin:2px 20px;
	margin-right:0px;
	padding: 0 0 10px 10px;
	background: #d6f0da;
	border-bottom:1px solid #ccc;
	float:left;
	clear:both;
}

article.thread article.post:nth-of-type(-n+4) {
	clear:none;
	float:none;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	max-width:72%;
}

.post.has_image {
}


.post .post_data {
	padding:0 6px 0 0;
}


.post .post_file .btnr {
	font-size:10px;
}

.post .post_file {
	word-wrap: break-word;
	display:block;
	overflow:hidden;
	font-size:11px;
	color:#888;
	line-height:12px;
	margin-top:5px;
}


.post .post_file .post_file_filename.unshown {
	display:none;
}

.post .post_file .post_file_filename.shown {
	display:inline;

}
	
.post .post_file:hover .post_file_filename.shown {
	display:none;
}

.post .post_file:hover .post_file_filename.unshown {
	display:inline;
}

.post header{
	padding-top:5px;
	overflow:hidden;
	display:-moz-inline-stack;
}

.post > .text {
	padding: 7px 10px 0px 15px;
	word-wrap: break-word;
}

.post > .thread_image_box {
	float:left;
	text-align:center;
	color: #888;
	max-width:140px;
	margin:0 10px 0 4px;
	font-size:0.8em;
	line-height:130%;
	padding-top:5px;
	vertical-align:bottom;
}

.post > .thread_image_box > .post_file_controls {
	margin: 0 -2px 0 -2px;
	position:relative;
	top:2px;
}

.post > .thread_image_box .post_image {
	max-width:130px;
	height:auto;
}

.post > .thread_image_box .post_image.is_spoiler_image {
	opacity: 0.2;
}

.post > .thread_image_box .post_image.is_spoiler_image:hover {
	opacity: 1.0;
}

.post.post_ghost {
	background: #aaa;
	background: rgba(0,0,0,0.05);
	margin-left:40px;
	background: -moz-linear-gradient(right, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.post.reported {
	background: #e2e2e2;
}

.post.highlight {
	background: #eedbea;
}

.post.highlight .btnr, .post.highlight .btnr:visited {
	background: #e4c9e7;
}

.post.highlight .btnr:hover {
	background: #b182b5;
}

#backlink {
	box-shadow: 0px 0px 3px #333;
	-moz-box-shadow: 0px 0px 3px #333;
	-webkit-box-shadow: 0px 0px 3px #333;
	overflow:hidden;
	background:#EEF8F0;
}

#backlink .post {
	margin:0;
	max-width:none;
}


section.reply {
	background: #99ccaa;
	margin: 2px 0 2px 10px;
	padding: 0 20px 0 0;
	border-bottom:1px solid #a1c7a3;
	border-left:1px solid #e6f0ea;
}

section.reply header {
	font-weight: bold;
	color: #117743;
	padding: 7px 20px 0 18px;
}

section.reply input[type=text] {
	width: 350px;
	resize: auto;
}

section.reply textarea {
	width: 350px;
	min-height: 100px;
}

section.reply .actions {
	width: 100%;
	margin-bottom: -19px;
	border: 1px solid #dedede;
	border-right: 0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

section.reply {
	background: #99ccaa;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin: 2px 0 2px 10px;
	padding: 0 20px 0 0;
	border-bottom:1px solid #a1c7a3;
	border-left:1px solid #e6f0ea;
	margin-left:20px;
}

section.reply header {
	font-weight: bold;
	color: #117743;
	padding: 7px 20px 0 18px;
}

section.reply input[type=text] {
	width: 350px;
	resize: auto;
}

section.post.reply textarea {
	width: 350px;
	min-height: 100px;
}

section.post.reply .actions {
	width: 100%;
	margin-bottom: -19px;
	border: 1px solid #dedede;
	border-right: 0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

section.post.reply #reply_ajax_notices {
	padding:8px;
	margin-top:10px;
	margin-left:20px;
	display:none;
}

section.post.reply #reply_ajax_notices.error {
	background: #FFC5C5;
	border: 1px solid red;
}

section.post.reply #reply_ajax_notices.success {
	background:#DFFAD9;
	border: 1px solid #61B84D;
}

article.thread .greentext {
	color: #789922;
}

article.thread .backlink.op {
	border-bottom: 1px dotted #000;
}


#thread_o_matic {
	
}

#thread_o_matic > article.thread {
	border:none;
	width:24%;
	margin:5px 0.5%;
	float:left;
	font-size:11px;
	line-height:13px;
}

#thread_o_matic > article.thread > header {
	text-align:center;
}

#thread_o_matic > article.thread > header .post_controls{
	display:block;
	margin-top:3px;
}

#thread_o_matic > article.thread > .thread_image_box{
	float:none;
	line-height:inherit;
	max-width:none;
	margin-top: 6px;
}

#thread_o_matic > article.thread > .thread_image_box > .post_file_controls{
	display:block;
	margin-top:3px;
}
	
#thread_o_matic > article.thread > .thread_image_box .thread_image{
	max-width:100%;
	height:auto;
	box-shadow: 0px 0px 2px #888;
}

#thread_o_matic > article.thread .thread_tools_bottom {
	text-align:center;
	margin:0;
}


.modal-label {
	float: left;
	margin-left: 10px;
	font-weight: bold;
}

.modal-post {
	min-width: 500px;
	max-width: 500px;
}

.modal-field {
	float: left;
	margin-left: 10px;
	padding-top: 10px;
	font-weight: bold;
}

.modal-comment {
	min-width: 500px;
	max-width: 500px;
	min-height: 100px;
}

.modal-password {
	min-width: 500px;
	max-width: 500px;
}

.js_hook_realtimethread {
	font-size:18px;
	font-weight:bold;
	margin:10px 10px 10px 20px;
	border-top: 1px solid #aaa;
	padding:5px;
	clear:both;
}
.js_hook_realtimethread a.btn{
	position:relative;
	bottom:1px;
}


.loading { display: none; width: 100%; text-align: center; margin: auto; }

.spoiler {
	color:#000;
	background:#000;
}

.spoiler:hover {
	color:#fff;
}