
/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


a, a:visited {
	color: #34345c;
}

a:hover {
	color: #dd0000;
}



html {
	min-height:100%;
}

body {
	background: #eefff2;
	min-height:100%;
}

#header {
	overflow:hidden;
	border-bottom: 1px solid #555;
	padding-bottom:12px;
	margin:12px 0;
}

#logo {
	margin-bottom:0;
}

#top_tools {
	border-bottom: 1px solid #555;
	margin: 12px 0;
	padding-bottom:12px;
}

#top_tools form {
	margin-bottom: 0;
	margin-right:10px;
	float:left;
}

#top_tools label {
	width:auto;
}

#top_tools .input {
	margin-left: 80px;
}

#top_tools input[type=submit] {
	margin: 0 5px 0 -3px;
}

#top_tools input {
	padding: 4px 4px;
}

input, textarea, select, .uneditable-input {
	height:15px;
}

.input-prepend .add-on, .input-append .add-on {
	height:15px;
	line-height:15px
}


.post_controls .btn:first-child {
	margin-left: 0px;
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
}

.post_controls .btn:last-child {
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
}

.post_controls .btn {
	font-size: 12px;
	border-radius:0;
	padding: 2px 10px 2px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	margin-left: -6px;
}


/* board */

article.thread {
	border-bottom: 1px solid #000;
	padding: 15px 0;
	word-wrap: break-word
}

article.thread header {
	margin-bottom: 5px;
}

article.thread > .thread_image {
	float:left;
	margin: 0 10px 10px 10px;
}

article.thread h2.post_title {
	font-weight: bold;
	color: #0f0c5d;
	padding:0;
	margin:0;
	font-size:1em;
	display:inline;
	line-height:inherit;
}
article.thread .post_author {
	font-weight: bold;
	color: #117743;
}

article.thread .post_trip {
	color: #117743;
}

article.thread .post_number {
	
}

article.thread > .text {
	padding:10px;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

article.post {
	background: #d6f0da;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin: 2px 0 2px 10px;
	padding: 7px 20px 10px 18px;
	border-bottom:1px solid #a1c7a3;
	border-left:1px solid #e6f0ea;
}

article .post_ghost {
	background: #cce1cf;
}

article .reported {
	background: #e2e2e2;
}

article .highlight {
	background: #d6bad0;
}

article.post .post_image {
	float:left;
	margin: 0 10px 10px 0;
}

article.post > .text {
	margin-left: 13px;
	padding: 7px 7px 0 0;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

section.reply {
	background: #99ccaa;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin: 2px 0 2px 10px;
	padding: 0 20px 0 0;
	border-bottom:1px solid #a1c7a3;
	border-left:1px solid #e6f0ea;
}

section.reply header {
	font-weight: bold;
	color: #117743;
	padding: 7px 20px 0 18px;
}

section.reply input[type=text] {
	width: 350px;
	resize: auto;
}

section.reply textarea {
	width: 350px;
	min-height: 100px;
}

section.reply .actions {
	width: 100%;
	margin-bottom: -19px;
	border: 1px solid #dedede;
	border-right: 0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

section.reply {
	background: #99ccaa;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin: 2px 0 2px 10px;
	padding: 0 20px 0 0;
	border-bottom:1px solid #a1c7a3;
	border-left:1px solid #e6f0ea;
}

section.reply header {
	font-weight: bold;
	color: #117743;
	padding: 7px 20px 0 18px;
}

section.reply input[type=text] {
	width: 350px;
	resize: auto;
}

article.post.reply textarea {
	width: 350px;
	min-height: 100px;
}

article.post.reply .actions {
	width: 100%;
	margin-bottom: -19px;
	border: 1px solid #dedede;
	border-right: 0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

article.thread .greentext {
	color: #789922;
}

.loading { display: none; width: 100%; text-align: center; margin: auto; }
