footer {
	border-top:1px solid  #ddd;
	margin-top:25px;
	padding-top:15px;
}

h3 {
	margin-bottom:10px;
}

.popover-title h3 {
	margin-bottom:0px;
}

form {
	margin: 0 0 0px;
}

i {
	font-size:110%;
	color:#000;
}

i.icon-white {
	color:#fff;
}


.navbar {
	position:static;
	margin-bottom:15px;
}

.navbar-fixed-top .container {
	width:auto;
	padding: 0 30px;
}

.row-fluid [class*="span"] {
	display:inline-block;
}

.well .well {
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	border:none;
	border-left: 4px solid #ddd;
	padding: 8px 13px 3px;
	margin-top:3px;
	margin-left: 4px;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}

.well label {
	margin-top:5px;
}

.well .span1 {
	text-align:right;
}