body
{
	background: #FFE url("./images/fade.png") top center repeat-x;
	color: #800000;
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.mobile,.mobileinline
{
	display: none!important;
}
a,a:visited
{
	color: #00E;
}
a:hover
{
	color: red;
}
a.replylink,div#absbot a
{
	color: #00E!important;
	text-decoration: underline!important;
}
div#absbot
{
	clear: both;
	color: #800000;
}
div.board>hr
{
	clear: both;
}
img
{
	border: none;
}
hr
{
	border: none;
	border-top: 1px solid #D9BFB7;
	height: 0;
}
hr.abovePostForm
{
	width: 90%;
}
span.x-small
{
	font-size: x-small;
}
.mobile
{
	display: none;
}
ul.rules
{
	margin: 0px;
	margin-top: 1px;
	padding: 0px;
}
ul.rules>li
{
	font-size: 10px;
	list-style: none;
}
.rules>li:before
{
	content: "\2022 \20";
}
div.boardBanner
{
	clear: both;
	text-align: center;
}
div.boardBanner>img
{
	border: 1px solid #34345C;
	margin: 5px 0px 5px 0px;
}
div.boardBanner>div.boardTitle
{
	font-family: Tahoma;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-top: 0px;
}
div.boardBanner>div.boardSubtitle
{
	font-size: x-small;
}
div#boardNavDesktop
{
	color: #B86;
	display: block;
	font-size: 9pt;
}
div#boardNavDesktop a
{
	color: #800000;
	font-weight: normal;
	padding: 1px;
	text-decoration: none;
}
div.pContainer
{
}
div.opContainer
{
	display: inline;
}
div.sideArrows
{
	color: #e0bfb7;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
}
div.thread
{
	clear: both;
	margin: 0px;
}
div.post
{
	margin: 4px 0;
	overflow: hidden;
}
div.thread>div:nth-of-type(2)>div.reply
{
	margin-top: 2px!important;
}
div.op
{
	display: inline;
}
div.reply
{
	background-color: #f0e0d6;
	border: 1px solid #D9BFB7;
	border-left: none;
	border-top: none;
	display: table;
	padding: 2px;
}
div.reply input
{
	float: none;
}
div.post div.postInfo
{
	display: block;
	width: 100%;
}
div.post div.postInfo span.postNum
{
}
div.post div.postInfo span.postNum a
{
	color: #800000;
	text-decoration: none;
}
div.post div.postInfo span.postNum a:hover
{
	color: red!important;
}
div.post div.postInfo span.nameBlock
{
	display: inline-block;
}
div.post div.postInfo span.nameBlock span.name
{
	color: #117743;
	font-weight: bold;
}
div.post div.postInfo span.nameBlock span.postertrip
{
	color: #117743;
	font-weight: normal!important;
}
div.post div.postInfo span.date
{
}
div.post div.postInfo span.time
{
}
div.post div.postInfo span.subject
{
	color: #cc1105;
	font-weight: bold;
}
div.post blockquote.postMessage
{
	display: block;
}
blockquote>span.quote
{
	color: #789922;
}
a.quoteLink,a.quotelink
{
	color: #000080!important;
}
div.post div.file
{
	display: block;
}
div.post div.file div.fileInfo
{
	margin-right: 10px;
}
div.replyContainer div.post div.file div.fileInfo
{
	margin-left: 20px;
}
div.post div.file .fileThumb
{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 3px;
}
span.fileThumb
{
	margin-left: 0px!important;
	margin-right: 5px!important;
}
div.reply span.fileThumb,div.reply span.fileThumb img
{
	float: none!important;
	margin-bottom: 0px!important;
	margin-top: 0px!important;
}
div.post div.file .fileThumb img
{
	border: none;
	float: left;
	margin-bottom: 5px;
}
span.summary
{
	color: #707070;
	margin-top: 10px;
}
div.postingMode
{
	background-color: #e04000;
	color: #fff;
	font-size: larger;
	font-weight: bold;
	margin-top: 8px;
	padding: 1px;
	text-align: center;
}
div.navLinks
{
	margin-bottom: 10px;
}
div.navLinksBot
{
	margin-bottom: 0px;
}
#verification table
{
	border: none!important;
	margin: 0px;
}
div.thread:last-child
{
	margin-bottom: 6px;
	padding-bottom: 21px;
}
div.pagelist
{
	background: #F0E0D6;
	border: none;
	border-bottom: 1px solid #D9BFB7;
	border-right: 1px solid #D9BFB7;
	color: #B86;
	float: left;
	font-size: 13px!important;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 3px 7px;
}
div.pagelist>div
{
	float: left;
}
div.pagelist>div span
{
	display: inline-block;
	padding: 4px;
}
div.pagelist div.pages
{
	padding: 4px;
}
div.pagelist div.pages a
{
	text-decoration: none!important;
}
div.pagelist form
{
	display: inline;
}
div.pagelist strong
{
	color: #800000;
}
div.deleteform
{
	float: right;
	margin-top: 2px;
}
div.deleteform input[type=password]
{
	width: 88px;
}
div.deleteform input[type=checkbox]
{
	margin: 1px 2px 1px 2px;
}
div.stylechanger
{
	clear: both;
	float: right;
	font-size: 10pt;
}
div.stylechanger select
{
	display: inline;
}
div#boardNavDesktopFoot
{
	clear: both;
	color: #B86;
	font-size: 9pt;
	padding-bottom: 3px;
	padding-top: 10px;
}
div#boardNavDesktopFoot a
{
	color: #800000;
	font-weight: normal;
	padding: 1px;
	text-decoration: none;
}
div.homelink
{
	float: right;
}
div#absbot
{
	color: #800;
	font-size: xx-small!important;
	padding-bottom: 4px;
	text-align: center;
}
#recaptcha_response_field
{
	padding: 0px;
}
table
{
	border-spacing: 1px;
	margin-left: auto;
	margin-right: auto;
}
table.postForm>tbody>tr>td:first-child
{
	background-color: #EA8;
	border: 1px solid #800;
	color: #800;
	font-size: 10pt;
	font-weight: bold;
	padding: 0 5px;
}
tr.rules td
{
	background-color: transparent!important;
	border: 0px!important;
	font-weight: normal!important;
}
td
{
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
}
table.postForm>tbody input[type=text],table.postForm>tbody textarea
{
	border: 1px solid #AAA;
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	margin: 0px;
	margin-right: 2px;
	outline: none;
	padding: 2px 4px 3px 4px;
}
table.postForm>tbody>tr>td>input[type=text]
{
	width: 260px;
}
table.postForm>tbody>tr>td>input[name="subject"]
{
	width: 300px;
}
table.postForm input[type=password]
{
	width: 150px;
}
.postblock
{
	background-color: #EA8;
	border: 1px solid #800;
	color: #800;
	font-size: 10pt;
	font-weight: bold;
	padding: 0 5px;
}
div.closed
{
	color: red;
	font-size: x-large;
	font-weight: bold;
	padding-bottom: 100px;
	padding-top: 100px;
	text-align: center;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	tbody textarea
	{
		margin-bottom: -3px!important;
	}
}
.commentpostername
{
	font-weight: bold;
}
.identityIcon
{
	margin-bottom: -3px;
}
.globalMessage
{
	color: red;
	text-align: center;
}
.highlightPost
{
	background: #f0d6d6!important;
	border-color: #d69595!important;
}
.replyContainer .highlight
{
	background: #F0C0B0!important;
	border: 1px solid #D99F91!important;
	border-left: none!important;
	border-top: none!important;
	padding: 2px;
}
span.capcodeAdmin,span.capcodeAdmin span.name,span.capcodeAdmin span.name a,span.capcodeAdmin span.postertrip,span.capcodeAdmin strong.capcode
{
	color: #F00!important;
}
span.capcodeMod,span.capcodeMod span.name,span.capcodeMod span.name a,span.capcodeMod span.postertrip,span.capcodeMod strong.capcode
{
	color: #800080!important;
}
span.capcodeDeveloper,span.capcodeDeveloper span.name,span.capcodeDeveloper span.name a,span.capcodeDeveloper span.postertrip,span.capcodeDeveloper strong.capcode
{
	color: #0000F0!important;
}
.omittedposts,.abbr
{
	color: #707070;
}
span.spoiler
{
	background: #000!important;
	color: #000!important;
}
span.spoiler:hover,span.spoiler:focus
{
	color: #fff!important;
}
table.exif
{
	min-width: 450px;
}
table.exif td
{
	color: #707070;
	font-size: 8pt;
	min-width: 150px;
}
table.exif td b
{
	text-decoration: underline;
}
div.posthover
{
	margin-left: 20px;
	max-width: 400px;
}
div.posthover
{
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
div.posthover a.fileThumb
{
	margin-left: 5px!important;
	margin-right: 10px!important;
}
div.posthover blockquote
{
	margin: 5px;
}
div.posthover img[data-md5]
{
	height: auto!important;
	max-height: 80px;
	max-width: 80px;
	width: auto!important;
}
div.posthover div.fileThumb
{
	margin-left: 0px!important;
	margin-right: 10px!important;
}
#navtopr,#navbotr
{
	float: right;
}
.preview
{
	background: #F0E0D6;
	border: 1px solid #D9BFB7!important;
	border-bottom: 2px solid #D9BFB7!important;
	border-right: 2px solid #D9BFB7!important;
}
#settingsBox
{
	margin-top: 10px;
	position: absolute;
	right: 10px;
}
div.backlink
{
	font-size: x-small!important;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.backlink span
{
	padding-right: 5px;
}
div#boardNavMobile
{
	background-color: #ede4dc;
	border-bottom: 1px solid #dcc5b8;
	left: 0px;
	overflow: hidden;
	padding: 5px;
	position: fixed;
	top: 0px;
	width: 100%;
}
div#boardNavMobile select,div#boardNavMobile option
{
}
div.boardSelect
{
	float: left;
}
div.pageJump
{
	float: right;
	padding-right: 10px;
}
div.qrWindow
{
	position: absolute;
	z-index: 10000;
}
div.qrHeader
{
	font-size: small;
	padding: 2px;
	text-align: center;
}
div.qrForm
{
	padding: 3px;
}
span.qrButtonHolder
{
	position: absolute;
	right: 5px;
	text-align: right;
	top: 3px;
}
span.qrButtonHolder a
{
	text-decoration: none;
}
span.qrButtonHolder img
{
	cursor: pointer;
	margin-bottom: -1px;
	margin-top: 1px;
}
.extButton img
{
	margin-bottom: -3px;
	margin-left: 4px;
	margin-top: 3px;
}
.qrMessage
{
	padding: 2px;
	text-align: center;
}
.op .backlinkHr
{
	width: 55%;
}
.useremail .name,.useremail .postertrip
{
	color: #0000EE!important;
}
img.expandedImg
{
	max-height: none!important;
	max-width: none!important;
}
#captchaContainer
{
	overflow: hidden;
}
#captchaContainer>img
{
	border: 1px solid #aaa;
	float: left;
	margin-bottom: 1px;
}
#captchaInfo
{
	float: left;
	margin-left: 5px;
	visibility: hidden;
}
#captchaResponse
{
	width: 292px;
}
.prettyprint
{
	background-color: #fff;
	border: none!important;
	display: inline-block;
	max-height: 400px;
	max-width: 600px;
	overflow-x: auto;
	padding: 5px!important;
}
.embed
{
	height: 0px;
	overflow: hidden;
	position: absolute;
	width: 0px;
}
table.flashListing td.postblock
{
	padding: 5px;
	text-align: center;
}
table.flashListing td
{
	font-size: 9pt;
	padding: 2px;
}
table.flashListing td:not(.subject)
{
	text-align: center;
}
table.flashListing .name
{
	color: #117743;
	font-weight: bold;
}
table.flashListing .postertrip
{
	color: #117743;
}
table.flashListing .subject
{
	color: #cc1105;
	font-weight: bold;
}
table.flashListing tr:nth-of-type(odd)
{
	background-color: #ede2d4;
}



/* FOOLFUUKA SPECIFIC CSS */