/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Woxxy
   ========================================================================== */


a, a:visited {
	color: #336699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #002299;
}

body {
	font: normal normal 400 16px/normal Verdana;
	background:#F6F6F6;
}

body > header {
	background:#F6F6F6;
	margin-bottom:15px;
}


body > header .top a, body > header .top a:visited {
	color: #4167B1
}

body > header .top {
	font: normal normal 400 9px/18px Verdana;
	padding: 0px 0px 0px 5px;
	text-transform: uppercase;
	white-space: nowrap;
	background:#F0F0F0;
}

body > header {
	overflow:visible;
}

body .dropdown-menu-bla {
	position:absolute;
	display:none;
	top:2px;
	left:5px;
	border: 1px solid #808080;
	list-style:none;
	background:#fff;
	z-index:10000;
	padding:0;
}

body .dropdown-menu-bla li {
	font-size: 9px;
	margin:0;
	padding:0;
	line-height:10px;
	padding: 2px 3px;
	text-transform:uppercase;
}

body .dropdown-menu-bla li:hover {
	background: #C7DEF7;
}

body .dropdown-menu-bla li a {
	width:100%;
	height:100%;
	display:block;
}

body .dropdown-menu-bla li a:hover {
	text-decoration:none;
}


body > header .dropdown .caret {
	border-collapse: separate;
	border-left: 4px solid;
	border-right: 4px solid;
	border-spacing: 0px;
	border-top: 4px solid #000;
	color: transparent;
	content: "";
	cursor: pointer;
	display: inline-block;
	font: normal normal 400 13px/18px "Helvetica Neue";
	height: 0px;
	margin: 7px 0px 0px;
	opacity: 1;
	text-align: center;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251);
	vertical-align: top;
	width: 0px;
}

body > header .trending {
	font: normal normal 400 9px/18px Verdana;
	height: 18px;
	margin-left:10px;
}


body > header .header {
	background:#4167B1;
	background-image:url("images/muenymph-reddit.png");
	background-repeat:no-repeat;
	height:95px;
	position:relative;
}

body > header .header .sections {
	position:absolute;
	bottom:0;
	left:70px;
}

body > header .header .sections a {
	background: #F6F6F6;
	color: #777777;
	font: normal normal 700 12px/normal Verdana;
	list-style: none;
	padding: 2px 6px 0px;
	text-decoration: none;
	white-space: nowrap;
}

body > header .header .sections a:hover {
	background: #002299;
	color: #DADADA
}

body > header .header .sections .title {
	color: #DADADA;
	font: normal small-caps 700 14px/normal Verdana;
	text-transform: lowercase;
	padding: 0 8px;
	background: transparent;
}

body > header .header .sections .title:hover {
	background:transparent;
	color: #DADADA;
	text-decoration:underline;
}

body > header .header .sections .active {
	background: #F6F6F6;
	border-bottom: 0px #FFFFFF;
	border-left: 1px solid #5F99CF;
	border-right: 1px solid #5F99CF;
	border-top: 1px solid #5F99CF;
	color: #002299;
	padding: 2px 6px 0px;
	z-index: 100;
}

body > header .header .sections .active:hover {
	background: #F6F6F6;
	color: #002299;
}



body > header .header .join_us {
	position:absolute;
	bottom:0;
	right:0;
	padding:4px;
	color: #808080;
	font: normal normal 400 10px/12px Verdana;
	background: #F6F6F6;
	border-top-left-radius: 8px;
}


body > footer {
	clear:both;
	background: url("images/inner-background.png");
	font: normal normal 400 12px/normal Verdana;
	padding:7px;
	text-align:center;
	width: 300px;
	height:170px;
	margin: 7px auto;
	color: #808080;
	border: 1px solid #AAAAAA;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;

}

body > footer .big {
	margin-top:80px;
	font-size:18px;
}

body > .subfooter {
	clear:both;
	font: normal normal 400 10px/normal Verdana;
	color: #808080;
	width:480px;
	margin:5px auto 15px;
	text-align:center;
}




/* ==== MAIN ==== */


/* SIDEBAR */

#main code {
	background:transparent;
	border:none;
	color:inherit;
}


#main section.sidebar {
	width:310px;
	float:right;
}

#main section.sidebar .search {
	margin: 0px auto 10px;
	text-align:center;
}

#main section.sidebar .search .search-query {
	text-align:center;
	border: 1px solid #cfcfcf;
	padding:1px 0;
	width:290px;
	font: normal normal 400 14px/normal "Lucida Grande";
	color:#666;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;

}


#main section.sidebar .box {
	min-height:300px;
	margin: 10px 5px;
	border: 1px solid #aaa;
	border-radius: 10px;
	background: url("images/inner-background.png");
	z-index:100;
	position:relative;
}


#main section.sidebar .box .follow {
	width: 250px;
	margin: 15px auto;
}

#main section.sidebar .box h4 {
	background: #4167B1;
	border-bottom: 1px solid #333399;
	font: normal normal 700 19px/15px Arial;
	color:#fff;
	width:243px;
	margin: 10px 13px 5px -8px;
	padding: 5px 0px 5px 20px;
	z-index: 100;
}

#main section.sidebar .box h4:after {
	border-bottom: 8px solid transparent;
	border-left: 8px solid transparent;
	border-right: 8px solid #002299;
	border-top: 8px solid transparent;
	content: "";
	display: block;
	height: 0px;
	margin-left: -28px;
	margin-top: -3px;
	position: absolute;
	width: 0px;
	z-index: -105;
}

#main section.sidebar .box .item {
	font: normal normal 400 12px/15px Verdana;
	width:260px;
	margin: 5px auto 10px;
	color: #777;
}

#main section.sidebar .box .item code {
	margin:8px;
	display:block;
}


#main section.sidebar .box ul.item li {
	font-weight:700;
}

#main section.sidebar .box .separator {
	width:260px;
	margin: 5px auto;
	height:1px;
	background: #aaa;
	border: 1px solid #555;
	border-bottom: 0px solid #fff;
}

.silly_notice {
	margin: 3px 20px 15px;
	color:red;
	font-weight:bold;
	font-size:12px;
	text-align:center;
}





.search-dropdown {
}

.search-dropdown .search-dropdown-menu {
	text-align:left;
    z-index:100;
    display:none;
    background:#F6E69F;
	border: 1px solid #FFA500;
	padding: 8px 0;
	margin:5px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.search-dropdown ul.search-dropdown-menu {
    list-style:none;
    padding:5px 0px 8px;
}

.search-dropdown ul.search-dropdown-menu li {
    padding:0px 7px;
    color: #999;
}

.search-dropdown ul.search-dropdown-menu li.input-prepend {
    padding:0px 7px 6px;
    color: #999;
}

.search-dropdown ul.search-dropdown-menu li.divider {
    padding:0;
    height: 0px;
    margin: 3px 5px;
    overflow: hidden;
    background-color: #333;
    border-bottom: 1px solid #FFA500;
    *width: 100%;
    *margin: -3px 0 3px;
}

.search-dropdown ul.search-dropdown-menu li.input-prepend {
    margin-bottom: 0;
}


.search-dropdown ul.search-dropdown-menu li .add-on
{
    width:25%;
    font-size:11px;
    height:16px;
    padding:2px;
    line-height:16px;
}

.search-dropdown ul.search-dropdown-menu input[type=text],
.search-dropdown ul.search-dropdown-menu input[type=file],
.search-dropdown ul.search-dropdown-menu input[type=date] {
    padding:2px;
    font-size:11px;
    height:16px;
    width: 70%;
    margin-bottom:0;
	margin-top:-2px;
	position:relative;
	top:-3px;
}

.search-dropdown ul.search-dropdown-menu input[type=file]{
    padding:0 3px;
    height:22px;
    background:#fff;
    webkit-appearance: none;
}

.search-dropdown ul.search-dropdown-menu input[type=file]::-webkit-file-upload-button {
    position:relative;
    bottom:3px;
}

.search-dropdown label input, .search-dropdown label textarea, .search-dropdown label date {
    display:inline;
}

.search-dropdown label{
    display:inline;
    margin-bottom:0;
    color: #999;
    font-size:13px;
}







/* ==== THREADS ==== */

article.thread {
	margin:0px 0px 3px;
	font-size: 14px;
	float:left;
	clear:left;
	width: 70%;
	padding: 0 0 0 15px;
}

article.thread .counter {
	width:16px;
	margin:18px 15px 0 0px;
	float:left;
	text-align:right;
	font: normal normal 400 16px/normal Arial;
	color:#C6C6C6;
}

article.thread .voting {
	float:left;
	text-align:center;
	width:16px;
	margin: 2px 6px 0px 0px;
	color: #C6C6C6;
	font: normal normal 700 13px/normal Verdana;
}

article.thread .voting .up {
	background: url("images/anime-sprite.png") no-repeat -47px -612px;
	cursor: pointer;
	display: block;
	font: normal normal 700 13px/normal Verdana;
	height: 14px;
	list-style: none;
	margin: 2px 0px 0px;
	padding: 0px;
	width: 15px;
}

article.thread .voting .down {
	background: url("images/anime-sprite.png") no-repeat -102px -595px;
	cursor: pointer;
	display: block;
	font: normal normal 700 13px/normal Verdana;
	height: 14px;
	list-style: none;
	margin: 2px 0px 0px;
	padding: 0px;
	width: 15px;
}

article.thread > .thread_image_box, article.post > .thread_image_box {
	float:left;
	display:block;
	max-height:70px;
	max-width:70px;
	margin: 0 5px 9px;
	overflow:hidden;
}

article.thread > .thread_image_box img, article.post > .thread_image_box img {
	width:70px;
	max-height:70px;
	height:auto;
}

article.thread > header {
	margin-left:110px
}

article.thread > header .title {
	margin-bottom:3px;
}

article.thread > header .title a {
	color: #0000FF;
	overflow: hidden;
	padding: 0px;
	font: normal normal 400 16px/normal Verdana;
	line-height:12px;
	margin:0 0 2px;
}

article.thread > header .title a:hover {
	color: #0000FF;
	text-decoration:none;
}

article.thread > header .submitted {
	color: #888888;
	font: normal normal 400 10px/normal Verdana;
	line-height:8px;
}

article.thread > header .comments_number {
	color: #888888;
	font: normal normal 700 10px/normal Verdana;
	margin-top:3px;
}

article.thread > header .comments_number a {
	color:inherit;
}

article.thread > header .comments_number a:hover {
	text-decoration: underline;
}

article.thread > header .text {
	background-color: #FAFAFA;
	border: 1px solid #336699;
	border-radius: 7px;
	padding: 5px 5px;
	font: normal normal 400 13px/normal Verdana;
	margin:5px 0;
}

article.thread .posts {
	clear:left;
	float:none;
}

article.thread .posts.quoting{
	margin-left:17px;
	border-left: 1px dotted #DDDDFF;
	padding-left:15px;
}

article.thread .posts h3 {
	font: normal normal 400 16px/normal Verdana;
	margin: 10px 0px 10px;
	padding: 0 0 4px 0px;
	display:block;
	border-bottom: 1px dotted #000;
}

article.post {
}

article.post.post_ghost {
	background: #e9e9e9;
}

article.post header {
	color: #888888;
	font: normal normal 400 10px/normal Verdana;
}

article.post header .poster {
	color: #4167B1;
	font: normal normal 700 10px/normal Verdana;
}

article.post header .poster:hover {
	color: #002299;
}

article.post .comment {
	font: normal normal 400 13px/normal Verdana;
	margin: 5px 0px 3px 23px;
	display:block
}

article.post .permalink {
	color: #888888;
	font: normal normal 700 10px/normal Verdana;
	margin: 0px 0px 10px 23px;
	display:block;
}

article.post .permalink a {
	color: #888888;
	font: normal normal 700 10px/normal Verdana;
}








.thread_form_wrap {
    padding:18px 20px 5px 20px;
}


.thread_form {
    position:relative;
}

.thread_form form {
    margin-bottom: 0px;
}

.thread_form label {
	margin-bottom:0;
}


article.thread .thread_form_wrap {
    float:left;
    margin: 0px;
    padding-bottom:20px;
}

article.thread .thread_form {
    width:auto;
}


::-webkit-file-upload-button {
    margin-left:2px;
    position:relative;
    bottom:1px;
}

.thread_form .comment_label {
    position:absolute;
    left:550px;
    top: 11px;
    width:70px;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    display: inline-block;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    min-width: 16px;
    padding: 4px 5px;
    text-align: center;
    text-shadow: 0px 1px 0px #FFFFFF;
    vertical-align: middle;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
}

.thread_form input[type=text],
.thread_form select,
.thread_form input[type=file],
.thread_form input[type=password],
.thread_form.uneditable-input {
    margin-bottom: 5px;
    margin-right: 10px;
}


.thread_form label {
    width:70px;
    color:#888;
}

.thread_form label.add-on {
	width:65px;
}

.thread_form input[type=file],
.thread_form select{
    border:1px solid #cccccc;
    width:218px;
    height:26px;
    background:#fff;
    -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Opera hack */
@media not screen and (1)
{
.thread_form input[type=file],
.thread_form select{
    height: 28px;
    width: 220px;
}

.thread_form input[type=submit],
.thread_form input[type=reset] {
    height:28px;
}
    }


.thread_form .rules {
    font-size:11px;
    max-width:300px;
    line-height:10px;
    padding: 0 10px;
}

.thread_form .rules p {
    margin-bottom:0;
}


.thread_form .rules li{
    line-height:14px;
}

#reply_ajax_notices {
    padding:8px;
    margin-top:10px;
    margin-left:20px;
    display:none;
}

#reply_ajax_notices.error {
    background: #FFC5C5;
    border: 1px solid red;
    margin-left:10px;
    width:378px;
}

#reply_ajax_notices.success {
    background:#DFFAD9;
    border: 1px solid #61B84D;
    margin-left:10px;
    width:378px;
}











.spoiler {
	color:#000;
	background:#000;
}

.spoiler:hover {
	color:#fff;
}





/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
