/* Contain floats: h5bp.com/q */
.theme_default .clearfix:before, .theme_default .clearfix:after { content: ""; display: table }
.theme_default .clearfix:after { clear: both }
.theme_default .clearfix { zoom: 1 }

input[type="radio"], input[type="checkbox"] {
	margin-top: 0
}

.theme_default .tooltip-inner{max-width:300px}

.theme_default a,
.theme_default a:visited {
	color: #34345c
}

.theme_default p {
	margin: 2px 0 7px
}


.theme_default .shift-jis {
	font-family: 'IPAMonaPGothic', 'IPA モナー Pゴシック', Mona, 'MS PGothic', 'ＭＳ Ｐゴシック', Osaka, YOzFontAA97, sans-serif !important;
	font-size: 16px !important
}

.theme_default a:hover {
	color: #dd0000
}

html{
	height:100%;
	background:#6A836F;
	margin:0;
	padding:0
}

body.theme_default {
	height:100%;
	color:#364041;
	padding:0;
	margin:0;
	font: "Arial", sans-serif
}

.theme_default ::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
.theme_default ::selection { background: #fe57a1; color: #fff; text-shadow: none; }

.theme_default .container-fluid {
	position:static;
	padding: 0;
	background:#EEF8F0;
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -40px
}

.theme_default .btn-inverse {
	background: #77947D;
	color:#FFF
}

.theme_default .btn-inverse:hover {
	background: #57645D;
	color:#FFF
}

.theme_default #footer {
	background:#6A836F;
	color:#f5f5f5;
	font:11px
}

.theme_default #footer .footer_text {
	margin:8px 0;
	padding-bottom: 5px;
	line-height:normal
}

.theme_default #footer a, a.visited {
	color:inherit
}

.theme_default #footer, .theme_default #push {
	height: 28px;
	margin:0;
	padding:12px 15px 0;
	border: none
}


.theme_default #footer .btn-group {
	margin: -2px 5px 0
}

.theme_default #footer .dropdown-menu {
	right:0;
	left:inherit;
	color: #333
}

.theme_default #footer .dropdown-menu a:hover {
	color: #FFF
}

.theme_default .navbar {
	position:static;
	margin-bottom:0
}


.theme_default .navbar-fixed-top .container {
	width:auto;
	padding: 0 30px
}


.theme_default .navbar .nav > li > a {
	color:#ddd;
	padding: 11px 10px
}

.theme_default .navbar .nav > li > a > i {
	font: 16px/8px;
	display:inline !important
}

.theme_default .navbar .nav > li > a:hover {
	color:#fff
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background-color:transparent
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
	border-bottom-color: #eee
}

.theme_default .navbar .navbar-inner {
	background:#6A836F;
	box-shadow:none
}

.theme_default .navbar .divider-vertical {
	background-color: #222222;
	border-right: 1px solid #333333;
	background-color: rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.05)
}

.theme_default .navbar .brand {
	margin-left: -10px
}

.theme_default .letters {
	background:#6A836F;
	color:#ddd;
	margin: 4px 0 -2px;
	padding: 0 30px
}

.theme_default .letters a {
	color:inherit
}

.theme_default .letters a:hover {
	color:#FFF;
	text-decoration:none
}


.theme_default .navbar-search .search-query {
	background: rgba(0,0,0,0.3);
	color:#eee;
	text-shadow:none;
	width:390px
}

/* individual: webkit */
.theme_default .navbar-search .search-query::-webkit-input-placeholder {
	color:#ccc;
	text-shadow:none
}

/* individual: mozilla */
.theme_default .navbar-search .search-query::-moz-placeholder {
	color:#ccc;
	text-shadow:none
}

.theme_default .search-dropdown label{
	display:inline;
	margin-bottom:0;
	color: #777;
	font:13px
}

.theme_default .latest_search a {
	white-space: nowrap;
	text-overflow: ellipsis
}

.theme_default .latest_search a .options {
	font:.8em
}

.theme_default .search_box {
	background: #fff;
	border: 1px solid #aaa;
	display:none;
	position:absolute;
	padding: 0 10px;
	z-index: 100;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2)
}

.theme_default .advanced_search {
	width: 630px;
	margin: 0 auto
}

.theme_default .advanced_search .column {
	display:inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: top;
	width: 245px
}

.theme_default .advanced_search .column.checkboxes {
	width: 170px
}


.theme_default .search_box .advanced_search {
	width: 420px;
	padding: 10px 5px
}

.theme_default .search_box .advanced_search h4 {
	display:none
}

.theme_default .advanced_search .buttons {
	border-bottom: 1px solid #bbb;
	margin-bottom: 5px
}

.theme_default .advanced_search .add-on {
	width:100px
}

.theme_default .search_box .add-on{
	font: 11px/10px;
	height: 10px;
	width: 70px
}

.theme_default .advanced_search .input-prepend {
	margin-bottom: 2px
}

.theme_default .advanced_search input[name=text] {
	font:20px/23px;
	height: 28px;
	width: 608px;
	padding: 3px 10px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px
}

.theme_default .search_box .advanced_search input[type=text],
.theme_default .search_box .advanced_search input[type=date] {
	width: 140px;
	font: 12px/10px;
	height: 10px;
}

.theme_default .search_box .advanced_search input[type=date] {
	font:10px/1
}

.theme_default .search_box .advanced_search input:-moz-placeholder,
.theme_default .search_box .advanced_search textarea:-moz-placeholder {
	font:10px/13px
}
.theme_default .search_box .advanced_search  input:-ms-input-placeholder,
.theme_default .search_box .advanced_search textarea:-ms-input-placeholder {
	font:10px/13px
}

.theme_default .search_box .advanced_search input::-webkit-input-placeholder,
.theme_default .search_box .advanced_search textarea::-webkit-input-placeholder {
	font:10px/13px
}

/* fix for bigger search in search box */

.theme_default .search_box .advanced_search input[name=text]:-moz-placeholder,
.theme_default .search_box .advanced_search textarea[name=text]:-moz-placeholder {
	font:13px/1
}
.theme_default .search_box .advanced_search input[name=text]:-ms-input-placeholder,
.theme_default .search_box .advanced_search textarea[name=text]:-ms-input-placeholder {
	font:13px/1
}

.theme_default .search_box .advanced_search input[name=text]::-webkit-input-placeholder,
.theme_default .search_box .advanced_search textarea[name=text]::-webkit-input-placeholder {
	font:13px/1
}

.theme_default .search_box .advanced_search input[name=text] {
	width: 390px;
	height: 18px;
	font: 13px/13px;
	padding: 4px 14px
}

.theme_default .advanced_search .comment_wrap {
	border-bottom: 1px solid #bbb;
	margin-bottom: 5px
}

.theme_default .advanced_search .btn {
	margin-bottom: 5px
}

.theme_default .search_box .advanced_search .btn {
	padding: 0 4px;
	font: 11px
}

.theme_default .search_box .advanced_search .checkboxes {
	border-left: 1px solid #ccc;
	padding-left: 10px
}

.theme_default .search_box .advanced_search .table {
	margin-bottom: 0
}

.theme_default .search_box .advanced_search .table td {
	padding: 8px 3px 3px;
	font: 12px
}

.theme_default .advanced_search .table tr:first-of-type td {
	border-top: none
}

.theme_default .search_box .advanced_search .table td:first-of-type {
	display:none;
}

.theme_default .search_box .advanced_search .table td label {
	font: 12px/14px
}

.theme_default .advanced_search form {
	margin-bottom: 0
}

.theme_default .advanced_search .radixes {
	width: 330px
}

.theme_default .search_box .advanced_search .radixes {
	width: 235px
}

.theme_default .search_box .advanced_search .radixes h5 {
	font: 12px;
	display:inline;
	margin-bottom: 3px;
	border-bottom: 1px solid #ddd
}

.theme_default .advanced_search .radixes label {
	width: 75px;
	float:left
}

.theme_default .advanced_search .radixes .btn {
	margin-bottom: 0
}

.theme_default .advanced_search .radixes .btn.uncheck{
	display:none
}

.theme_default .advanced_search .latest_searches {
	clear:left
}

.theme_default .advanced_search .latest_searches h5 {
	font: 12px;
	display:inline;
	border-bottom: 1px solid #ddd
}

.theme_default .advanced_search .latest_searches ul {
	list-style:none;
	margin-left: 0;
	width: 238px;
	overflow:hidden
}

.theme_default .advanced_search .latest_searches ul li {
	line-height: 18px;
	padding: 1px 2px 1px 4px
}

.theme_default .advanced_search .latest_searches ul li:hover {
	background: #6A836F;
}

.theme_default .advanced_search .latest_searches ul li a {
	width:100%;
	height:100%;
	display:block;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333
}

.theme_default .advanced_search .latest_searches ul li:hover a {
	color:#fff;
	text-decoration:none
}

/* the body part of things */

.theme_default #main {
}

.theme_default #main .section_title {
	padding:2px 10px 2px 35px;
	border-bottom:3px solid #888;
	font: normal
}

.theme_default #main h3.section_title {
	font: 18px;
	margin-top: 0
}


.theme_default #main .section_title a {
	text-decoration: underline
}

.theme_default .btnr, .btnr:visited {
	padding:0 3px 1px;
	background:transparent;
	border:1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.1);
	text-shadow:none;
	margin: 0 2px;
	color:#333;
	font:11px/11px;
	position:relative;
	top:-1px
}

.theme_default .btnr:hover {
	border:1px solid #888;
	border: 1px solid rgba(0,0,0,0.4);
	color:#000;
	text-decoration: none;
	cursor:pointer
}

/* index */

.theme_default nav.index_nav {
	max-width: 960px;
	padding: 0 10px 10px;
	margin: 40px auto
}

.theme_default nav.index_nav > ul {
	list-style: none;
	margin: 10px 75px 10px 15px
}

.theme_default nav.index_nav > ul h2 {
	font: 2.0em
}


.theme_default nav.index_nav > ul > li > ul{
	list-style: none;
	margin-left: 0;
	margin-top: 10px
}

.theme_default nav.index_nav > ul > li > ul > li{
	padding-left: 10px;
	margin-bottom: 5px;
	font: 1.1em
}

.theme_default nav.index_nav > ul > li > ul > li h3 {
	font: 1.5em/30px
}

.theme_default nav.index_nav > ul > li > ul > li .help {
	font: .7em;
	vertical-align: middle
}

/* board */

.theme_default article.thread {
	padding: 25px 0;
	margin: 0 15px;
	word-wrap: break-word;
	border-top:1px solid #364041;
	border-top:1px solid rgba(0,0,0,0.5)
}

.theme_default article.thread:nth-of-type(1) {
	border-top:none
}

.theme_default article.thread > header {
	overflow:hidden;
	font: Verdana, Arial, sans-serif;
	margin-left:23px
}

.theme_default article.thread > .thread_image_box {
	float:left;
	margin: 0 20px 10px 15px;
	z-index:5;
	text-align:center;
	color: #bfbfbf;
	text-shadow: 0 1px 0 #fff;
	font:.8em/150;
}

.theme_default article.thread > .thread_image_box .thread_image.is_spoiler_image {
	opacity: .05
}

.theme_default article.thread > .thread_image_box .thread_image.is_spoiler_image:hover {
	opacity: 1.0
}

.theme_default article.thread > .thread_image_box > .post_file {
	max-width:250px;
	margin: 0 auto
}

.theme_default article.thread > .thread_image_box > .post_file_controls {
	position:relative;
	bottom:-1px;
	margin: 0 -5px 0 -4px
}

.theme_default article.thread > .thread_image_box > .post_file_controls .btn.parent {
	font:12px/12px
}

.theme_default article.thread > .thread_tools_bottom {
	margin-left: 30px;
	padding: 6px 0
}

.theme_default article.thread > .thread_tools_bottom .omitted {
	color: #364041;
	font:bold 14px;
	position:relative;
	top:1px
}

.theme_default article.thread .post_controls {
	margin-left:4px
}

.theme_default article.thread .post_type {
	margin-left:4px
}

.theme_default article.thread .post_type img {
	vertical-align:middle
}

.theme_default article.thread .post_type_is_op,
.theme_default article.thread .post_show_board {
	font: bold;
	color:#000
}

.theme_default article.thread h2.post_title {
	font: bold 1em/inherit;
	color: #0f0c5d;
	padding:0;
	margin:0;
	display:inline
}

.theme_default article.thread .post_author {
	font: bold;
	color: #117743
}

.theme_default article.thread .post_author a {
	text-decoration:underline
}


.theme_default article.thread .post_trip {
	font: normal;
	color: #117743
}

.theme_default article.thread .poster_hash {
	font: Courier New, Courier, monospace
}

.theme_default article.thread .post_level {
	font:bold
}

.theme_default article.thread .post_level.post_level_moderator {
	color:#800080
}

.theme_default article.thread .post_level.post_level_administrator {
	color:#FF0000
}

.theme_default article.thread .post_level.post_level_developer {
	color:#0000F0
}

.theme_default article.thread .backlink_list {
	font:11px;
	color:#888;
	display:none
}

.theme_default article.thread .report_reason {
	background: #CFDFFE;
	border: 1px solid #00248E;
	padding:2px 4px;
	margin: 5px 10px 0 3px;
	overflow:hidden
}

.theme_default article.thread .ip_reporter {
	font: 85%
}


.theme_default article.thread > .report_reason {
	margin-bottom: 10px;
	max-width:600px
}

.theme_default article.thread > .text {
	padding:10px 10px 10px 30px;
	word-wrap: break-word
}

.theme_default article.thread > aside > br {
	height:0;
	line-height:0
}

.theme_default article .post_mod_controls {
	display:none
}

.theme_default article.thread article.post {
	margin: 0 5px 3px 16px
}

.theme_default .post_wrapper {
	display:table-cell;
	margin:2px 0 2px 20px;
	padding: 0 0 10px 10px;
	background: #d6f0da;
	border-bottom:1px solid #ccc
}

.theme_default .post.has_image {
}

.theme_default .post .post_data {
	padding:0 6px 0 0
}


.theme_default .post .post_file .btnr {
	font:10px
}

.theme_default .post .post_file {
	word-wrap: break-word;
	display:block;
	overflow:hidden;
	font:11px/18px;
	color:#888;
	margin:3px 5px -4px 0
}

.theme_default .post header{
	overflow:hidden;
	padding-top:5px;
	display:-moz-inline-stack;
	font: Verdana, Arial, sans-serif
}

.theme_default .post_wrapper > .text {
	padding: 7px 10px 0 15px;
	word-wrap: break-word
}

.theme_default .post_wrapper > .thread_image_box {
	float:left;
	text-align:center;
	color: #888;
	margin:0 10px 0 4px;
	font:.8em/130%;
	padding-top:5px;
	vertical-align:bottom
}

.theme_default .post_wrapper > .thread_image_box .post_image.is_spoiler_image {
	opacity: .2
}

.theme_default .post_wrapper > .thread_image_box .post_image.is_spoiler_image:hover {
	opacity: 1.0
}

.theme_default .post.post_ghost .post_wrapper {
	border-left:5px solid #3a533f
}

.theme_default .post.highlight .post_wrapper {
	background: #eedbea
}

.theme_default .backlink {
	display:inline-block
}

.theme_default #backlink {
	box-shadow: 0 0 3px #333;
	-moz-box-shadow: 0 0 3px #333;
	-webkit-box-shadow: 0 0 3px #333
}

.theme_default #backlink .post {
	margin:0;
	max-width:none
}

.theme_default article.thread .greentext {
	color: #789922
}

.theme_default article.thread .spoiler .greentext {
	color: black
}

.theme_default article.thread .spoiler:hover .greentext {
	color: #789922
}

.theme_default article.thread .backlink.op {
	border-bottom: 1px dotted #000
}

.theme_default .thread_image_box .spoiler_box {
	width: 150px;
	height:150px;
	background: #333 url(images/missing-image.jpg);
	overflow:hidden;
	margin: 0 auto
}

.theme_default .thread_image_box .spoiler_box .spoiler_box_text {
	display:block;
	color: #fff;
	background: red;
	padding: 8px 0;
	font: bold 16px;
	margin-top:30%;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	text-transform: uppercase;
	text-shadow:none
}

.theme_default .thread_image_box .spoiler_box .spoiler_box_text .spoiler_box_text_help {
	display:block;
	font:10px/10px;
}

.theme_default .thread_form_wrap {
	background:#d6f0da;
	border-bottom:2px solid #364041;
	padding:8px 20px 5px 20px;
}

.theme_default .thread_form {
	position:relative;
}

.theme_default .thread_form form {
	margin-bottom: 0;
}

.theme_default article.thread .thread_form_wrap {
	border: 2px solid #364041;
	float:left;
	margin: 20px;
	padding-bottom:20px
}

.theme_default article.thread .thread_form {
	width:auto
}

.theme_default ::-webkit-file-upload-button {
	margin-left:2px;
	position:relative;
	bottom:1px
}

.theme_default .thread_form .comment_label {
	position:absolute;
	left:560px;
	top: 11px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	display: inline-block;
	font: 400;
	height: 18px;
	line-height: 18px;
	min-width: 16px;
	padding: 4px 5px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	vertical-align: middle;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px
}

.theme_default .thread_form input[type=text],
.theme_default .thread_form select,
.theme_default .thread_form input[type=file],
.theme_default .thread_form input[type=password],
.theme_default .thread_form.uneditable-input {
	margin-bottom: 5px;
	margin-right: 10px
}


.theme_default .thread_form label {
	min-width:85px;
	color:#888
}

.theme_default .thread_form input[type=file],
.theme_default .thread_form select {
	border:1px solid #cccccc;
	width:218px;
	height:26px;
	background:#fff;
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1)
}

.theme_default .thread_form input[type=file] {
	line-height:28px
}

.theme_default .thread_form .rules {
	font:11px/10px;
	padding: 0 10px
}

.theme_default .thread_form .rules p {
	margin-bottom:0
}


.theme_default .thread_form .rules li{
	line-height:14px
}

.theme_default #reply_ajax_notices {
	padding:8px;
	margin:10px 0 0 20px;
	display:none;
	clear:both
}

.theme_default #reply_ajax_notices a {
	text-decoration: underline
}

.theme_default #reply_ajax_notices.error {
	background: #FFC5C5;
	border: 1px solid red;
	margin-left:10px;
	width:378px;
	display:block
}

.theme_default #reply_ajax_notices.success {
	background:#DFFAD9;
	border: 1px solid #61B84D;
	margin-left:10px;
	width:378px;
	display:block
}

.theme_default #thread_o_matic {
}

.theme_default #thread_o_matic > article.thread {
	border:none;
	width:24%;
	margin:5px 0.5%;
	float:left;
	font:11px/13px
}

.theme_default #thread_o_matic > article.thread:nth-of-type(n+5) {
	border-top: 2px solid #6A836F;
}

.theme_default #thread_o_matic > article.thread > header {
	text-align:center;
	margin:0
}

.theme_default #thread_o_matic > article.thread > header .post_controls{
	display:block;
	margin-top:3px;
	margin-bottom:2px
}

.theme_default #thread_o_matic > article.thread > .thread_image_box{
	float:none;
	line-height:inherit;
	max-width:none;
	margin-top: 6px
}

.theme_default #thread_o_matic > article.thread > .thread_image_box > .post_file_controls{
	display:block;
	margin-top:3px
}

.theme_default #thread_o_matic > article.thread > .thread_image_box .thread_image{
	max-width:100%;
	height:auto;
	box-shadow: 0 0 2px #888
}

.theme_default #thread_o_matic > article.thread .thread_tools_bottom {
	text-align:center;
	margin:0
}

.theme_default .modal-label {
	float: left;
	margin-left: 10px;
	font: bold
}

.theme_default .modal-post {
	min-width: 500px;
	max-width: 500px
}

.theme_default .modal-field {
	float: left;
	margin-left: 10px;
	padding-top: 10px;
	font: bold
}

.theme_default .modal-comment {
	min-width: 500px;
	max-width: 500px;
	min-height: 100px
}

.theme_default .modal-password {
	min-width: 500px;
	max-width: 500px
}

.theme_default .js_hook_realtimethread {
	font:bold 18px;
	margin:10px 10px 10px 20px;
	border-top: 1px solid #aaa;
	padding:5px;
	clear:both
}
.theme_default .js_hook_realtimethread a.btn{
	position:relative;
	bottom:1px
}

.theme_default .loading {
	display: none;
	width: 100%;
	text-align: center;
	margin: auto
}

.theme_default .spoiler {
	color:#000;
	background:#000
}

.theme_default .spoiler:hover {
	color:#fff
}

.theme_default .overline {
	text-decoration:overline
}

.theme_default .strikethrough {
	text-decoration:line-through
}

.theme_default .underline {
	text-decoration:underline
}

.theme_default .expert {
	text-decoration: overline underline
}

.theme_default .banned {
	color:#ff0000;
	font:bold
}

.theme_default .is_spam {
	display: none
}

.theme_default .paginate {
	padding:2px 10px 2px 35px;
	height:36px;
	background:#ddebdd
}

.theme_default .paginate ul {
	background:#fff;
	float:left;
	margin:0;
	border:1px solid #ddd;
	border:1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.05)
}

.theme_default .paginate li {
	display:inline
}

.theme_default .paginate a,
.theme_default .paginate span {
	float:left;
	padding:0 14px;
	line-height:34px;
	border-right:1px solid;
	border-right-color:#ddd;
	border-right-color:rgba(0, 0, 0, 0.15);
	text-decoration:none
}

.theme_default .paginate a:hover,
.theme_default .paginate .active a {
	background-color:#c7eefe
}

.theme_default .paginate .disabled a,
.theme_default .paginate .disabled a:hover {
	background-color:transparent;
	color:#bfbfbf
}

.theme_default .paginate .next a {
	border:0
}

.flag {
	display:inline-block;
	width: 16px;
	height: 11px;
	background:url(images/flags.png) no-repeat
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-id {background-position: -48px -66px}
.flag.flag-ie {background-position: -64px -66px}
.flag.flag-il {background-position: -80px -66px}
.flag.flag-im {background-position: -96px -66px}
.flag.flag-in {background-position: -112px -66px}
.flag.flag-io {background-position: -128px -66px}
.flag.flag-iq {background-position: -144px -66px}
.flag.flag-ir {background-position: -160px -66px}
.flag.flag-is {background-position: -176px -66px}
.flag.flag-it {background-position: -192px -66px}
.flag.flag-je {background-position: -208px -66px}
.flag.flag-jm {background-position: -224px -66px}
.flag.flag-jo {background-position: -240px -66px}
.flag.flag-jp {background-position: 0 -77px}
.flag.flag-ke {background-position: -16px -77px}
.flag.flag-kg {background-position: -32px -77px}
.flag.flag-kh {background-position: -48px -77px}
.flag.flag-ki {background-position: -64px -77px}
.flag.flag-km {background-position: -80px -77px}
.flag.flag-kn {background-position: -96px -77px}
.flag.flag-kp {background-position: -112px -77px}
.flag.flag-kr {background-position: -128px -77px}
.flag.flag-kurdistan {background-position: -144px -77px}
.flag.flag-kw {background-position: -160px -77px}
.flag.flag-ky {background-position: -176px -77px}
.flag.flag-kz {background-position: -192px -77px}
.flag.flag-la {background-position: -208px -77px}
.flag.flag-lb {background-position: -224px -77px}
.flag.flag-lc {background-position: -240px -77px}
.flag.flag-li {background-position: 0 -88px}
.flag.flag-lk {background-position: -16px -88px}
.flag.flag-lr {background-position: -32px -88px}
.flag.flag-ls {background-position: -48px -88px}
.flag.flag-lt {background-position: -64px -88px}
.flag.flag-lu {background-position: -80px -88px}
.flag.flag-lv {background-position: -96px -88px}
.flag.flag-ly {background-position: -112px -88px}
.flag.flag-ma {background-position: -128px -88px}
.flag.flag-mc {background-position: -144px -88px}
.flag.flag-md {background-position: -160px -88px}
.flag.flag-me {background-position: -176px -88px}
.flag.flag-mg {background-position: -192px -88px}
.flag.flag-mh {background-position: -208px -88px}
.flag.flag-mk {background-position: -224px -88px}
.flag.flag-ml {background-position: -240px -88px}
.flag.flag-mm {background-position: 0 -99px}
.flag.flag-mn {background-position: -16px -99px}
.flag.flag-mo {background-position: -32px -99px}
.flag.flag-mp {background-position: -48px -99px}
.flag.flag-mq {background-position: -64px -99px}
.flag.flag-mr {background-position: -80px -99px}
.flag.flag-ms {background-position: -96px -99px}
.flag.flag-mt {background-position: -112px -99px}
.flag.flag-mu {background-position: -128px -99px}
.flag.flag-mv {background-position: -144px -99px}
.flag.flag-mw {background-position: -160px -99px}
.flag.flag-mx {background-position: -176px -99px}
.flag.flag-my {background-position: -192px -99px}
.flag.flag-mz {background-position: -208px -99px}
.flag.flag-na {background-position: -224px -99px}
.flag.flag-nc {background-position: -240px -99px}
.flag.flag-ne {background-position: 0 -110px}
.flag.flag-nf {background-position: -16px -110px}
.flag.flag-ng {background-position: -32px -110px}
.flag.flag-ni {background-position: -48px -110px}
.flag.flag-nl {background-position: -64px -110px}
.flag.flag-no {background-position: -80px -110px}
.flag.flag-np {background-position: -96px -110px}
.flag.flag-nr {background-position: -112px -110px}
.flag.flag-nu {background-position: -128px -110px}
.flag.flag-nz {background-position: -144px -110px}
.flag.flag-om {background-position: -160px -110px}
.flag.flag-pa {background-position: -176px -110px}
.flag.flag-pe {background-position: -192px -110px}
.flag.flag-pf {background-position: -208px -110px}
.flag.flag-pg {background-position: -224px -110px}
.flag.flag-ph {background-position: -240px -110px}
.flag.flag-pk {background-position: 0 -121px}
.flag.flag-pl {background-position: -16px -121px}
.flag.flag-pm {background-position: -32px -121px}
.flag.flag-pn {background-position: -48px -121px}
.flag.flag-pr {background-position: -64px -121px}
.flag.flag-ps {background-position: -80px -121px}
.flag.flag-pt {background-position: -96px -121px}
.flag.flag-pw {background-position: -112px -121px}
.flag.flag-py {background-position: -128px -121px}
.flag.flag-qa {background-position: -144px -121px}
.flag.flag-re {background-position: -160px -121px}
.flag.flag-ro {background-position: -176px -121px}
.flag.flag-rs {background-position: -192px -121px}
.flag.flag-ru {background-position: -208px -121px}
.flag.flag-rw {background-position: -224px -121px}
.flag.flag-sa {background-position: -240px -121px}
.flag.flag-sb {background-position: 0 -132px}
.flag.flag-sc {background-position: -16px -132px}
.flag.flag-scotland {background-position: -32px -132px}
.flag.flag-sd {background-position: -48px -132px}
.flag.flag-se {background-position: -64px -132px}
.flag.flag-sg {background-position: -80px -132px}
.flag.flag-sh {background-position: -96px -132px}
.flag.flag-si {background-position: -112px -132px}
.flag.flag-sk {background-position: -128px -132px}
.flag.flag-sl {background-position: -144px -132px}
.flag.flag-sm {background-position: -160px -132px}
.flag.flag-sn {background-position: -176px -132px}
.flag.flag-so {background-position: -192px -132px}
.flag.flag-somaliland {background-position: -208px -132px}
.flag.flag-sr {background-position: -224px -132px}
.flag.flag-ss {background-position: -240px -132px}
.flag.flag-st {background-position: 0 -143px}
.flag.flag-sv {background-position: -16px -143px}
.flag.flag-sy {background-position: -32px -143px}
.flag.flag-sz {background-position: -48px -143px}
.flag.flag-tc {background-position: -64px -143px}
.flag.flag-td {background-position: -80px -143px}
.flag.flag-tf {background-position: -96px -143px}
.flag.flag-tg {background-position: -112px -143px}
.flag.flag-th {background-position: -128px -143px}
.flag.flag-tj {background-position: -144px -143px}
.flag.flag-tk {background-position: -160px -143px}
.flag.flag-tl {background-position: -176px -143px}
.flag.flag-tm {background-position: -192px -143px}
.flag.flag-tn {background-position: -208px -143px}
.flag.flag-to {background-position: -224px -143px}
.flag.flag-tr {background-position: -240px -143px}
.flag.flag-tt {background-position: 0 -154px}
.flag.flag-tv {background-position: -16px -154px}
.flag.flag-tw {background-position: -32px -154px}
.flag.flag-tz {background-position: -48px -154px}
.flag.flag-ua {background-position: -64px -154px}
.flag.flag-ug {background-position: -80px -154px}
.flag.flag-um {background-position: -96px -154px}
.flag.flag-us {background-position: -112px -154px}
.flag.flag-uy {background-position: -128px -154px}
.flag.flag-uz {background-position: -144px -154px}
.flag.flag-va {background-position: -160px -154px}
.flag.flag-vc {background-position: -176px -154px}
.flag.flag-ve {background-position: -192px -154px}
.flag.flag-vg {background-position: -208px -154px}
.flag.flag-vi {background-position: -224px -154px}
.flag.flag-vn {background-position: -240px -154px}
.flag.flag-vu {background-position: 0 -165px}
.flag.flag-wales {background-position: -16px -165px}
.flag.flag-wf {background-position: -32px -165px}
.flag.flag-ws {background-position: -48px -165px}
.flag.flag-ye {background-position: -64px -165px}
.flag.flag-yt {background-position: -80px -165px}
.flag.flag-za {background-position: -96px -165px}
.flag.flag-zanzibar {background-position: -112px -165px}
.flag.flag-zm {background-position: -128px -165px}
.flag.flag-zw {background-position: -144px -165px}