html {
	background: transparent;
}

body.theme_default {
	background: #FFE url(images/fade.png) top center repeat-x;
}

body.theme_default.yotsuba_b {
	background: #EEF2FF url(images/fade-blue.png) top center repeat-x;
}

.theme_default .letters {
	background: transparent;
	color: #333;
}

.theme_default .navbar .navbar-inner {
	background:transparent;
	color: #333;
}

.theme_default .navbar .nav > li > a {
	color: #333;
	text-shadow: none;
}

.theme_default .navbar .nav > li > a:hover {
    color:#ddd;
    text-shadow: none;
}

.theme_default.yotsuba_b .navbar .nav > li > a:hover {
    color: #544cff;
    text-shadow: none;
}

.theme_default .dropdown-menu li > a:hover,
.theme_default .dropdown-menu .active > a,
.theme_default .dropdown-menu .active > a:hover {
    background:#6A836F;
}

.theme_default.yotsuba_b .dropdown-menu li > a:hover,
.theme_default.yotsuba_b .dropdown-menu .active > a,
.theme_default.yotsuba_b .dropdown-menu .active > a:hover {
    background:#8181DB;
}

.theme_default .container-fluid {
	background: transparent;
}

.theme_default #footer {
	background: transparent;
	color: #333;
}

.theme_default .btnr, .btnr:visited {
	border:none;
	font-family:inherit;
	font-size:inherit;
	padding:0;
	margin:0;
	position: static;
	margin-left: 3px;
}

.theme_default .btnr:first-child {
	margin-left: 0;
}

.theme_default .btnr, .btnr:visited {
    padding:0px 3px 1px;
    background:transparent;
    border:1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.1);
    text-shadow:none;
    margin: 0 2px;
    color:#333;
    font-size:11px;
    line-height:11px;
    position:relative;
    top:-1px;
}

.theme_default .btnr:hover {
    border:1px solid #888;
    border: 1px solid rgba(0,0,0,0.4);
    color:#000;
    text-decoration: none;
    cursor:pointer;
}

.theme_default .btn-inverse {
	background: #D9BFB7;
	color:#FFF !important;
}

.theme_default.yotsuba_b .btn-inverse {
	background: #8181DB;
}

.theme_default .btn-inverse:hover {
	background: #B99FA7;
	color:#FFF !important;
}

.theme_default.yotsuba_b .btn-inverse:hover {
	background: #5d68db;
}

.theme_default .search-dropdown.active {
	background:#fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.351), inset 0px -1px 0px rgba(0, 0, 0, 0.102);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.351), inset 0px -1px 0px rgba(0, 0, 0, 0.102);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.351), inset 0px -1px 0px rgba(0, 0, 0, 0.102);
}

.theme_default .search-dropdown .search-dropdown-menu {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.navbar-search .search-query {
	box-shadow: none;
}

.theme_default .paginate {
	background:transparent;
}

/* BOARD */

.theme_default article.thread {
    padding: 25px 0;
    margin: 0 15px;
    word-wrap: break-word;
    border-top:1px solid #9b9b9b;
    border-top:1px solid rgba(155, 155, 155, 0.48);
}

.theme_default .post {
	background: #F0E0D6;
	border: 1px solid #D9BFB7;
	border-left: none;
	border-top: none;
}

.theme_default.yotsuba_b .post {
	background: #D6DAF0;
	border: 1px solid #B7C5D9;
    border-left: none;
    border-top: none;
}

.theme_default .post.post_ghost {
    border: 1px solid #baa49e;
    border-left:5px solid #A99FA7;
}

.theme_default.yotsuba_b .post.post_ghost {
    border: 1px solid #769bb3;
    border-left:5px solid #98E;
}

.theme_default .post .post_file {
	margin-top:0;
}


.theme_default #reply {
	font-size: 12px;
	margin: 20px auto;
}

.theme_default #reply label {
	display:inline;
}

.theme_default #reply input,
.theme_default #reply textarea {
	margin: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding: 1px 2px;
	font-size: 12px;
	display:inline;
}

.theme_default input[type=text] {
	width: 260px;
}

.theme_default input[type=password] {
	width: 120px;
}

.theme_default textarea {
	width: 300px;
	height: 100px;
}

.theme_default #reply select,
.theme_default #reply input[type=file] {
	height: 24px;
	line-height:24px;
	margin-bottom: 0;
}

.theme_default #reply .rules {
	font-size: 10px;
}

.theme_default #reply .rules li {
	line-height:12px;
}

.theme_default table {
	border-spacing: 1px;
	border-collapse: separate;
}

.theme_default table > tbody > tr,
.theme_default table > tbody > tr > td {
	padding: 0;
	margin: 0;
}

.theme_default table > tbody > tr > td:first-child {
	background-color: #EA8;
	color: black;
	font-weight: bold;
	border: 1px solid #800;
	padding: 0 5px;
	font-size: 10pt;
}

.theme_default.yotsuba_b table > tbody > tr > td:first-child {
	background-color: #98E;
	color: black;
	font-weight: bold;
	border: 1px solid black;
	padding: 0 5px;
	font-size: 10pt;
}

.theme_default table > tbody > tr.rules > td:first-child {
	background: transparent;
	border:none;
	padding: none;
}

.theme_default article.backlink_container {
    padding: 10px;
}

.theme_default .divider {
    border-top:1px solid #9b9b9b;
    border-top:1px solid rgba(155, 155, 155, 0.48);
}

.theme_default section.global_message {
    border: 1px solid #ff8899;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background: #c0feb9;
    padding: 10px;
}

.theme_default .navbar.navbar-fixed-top {
    border-bottom: 1px solid #000;
}

.theme_default .js_hook_realtimethread {
    font-size: 12px;
    font-weight:bold;
    margin:10px 10px 10px 20px;
    border-top: 0px;
    padding:5px;
    clear:both;
}